/* ÃªÂ¸Â°Ã¬Â¡Â´ Ã¬Â½â€Ã«â€œÅ“ */
* {
    margin: 0 auto;
}

.container{
    position:relative;
    top: 90px;
    left: -110px;
    width: 1560px;
}

body {
    width: 920px;
}

.main_title {
    font-size: 35px;
    font-weight: bold;
    color: #374658;
    /* margin-top: -10px; */
}

.cho > p:hover{
    color:#ea8874
}

.cho {
    margin-top: 30px;
    display: flex;
    font-size: 23px;
    margin-top: 15px;
}

.cho > p {
    font-size: 23px;
    margin: 0px;
    margin-right: 30px;
    font-weight: bold;
    cursor: pointer;
    color: #374658;
}

.clo {
    color: #ea8874;
}

table {
    margin: 0px;
    margin-top: 60px;
    width: 1550px;
    border-collapse: collapse; /* Ã¬ÂÂ¸Ã¬Â â€˜Ã­â€¢Å“ ÃªÂ²Â½ÃªÂ³â€žÃªÂ°â‚¬ ÃªÂ°â„¢Ã¬Ââ‚¬ ÃªÂ²Â½ÃªÂ³â€žÃ«Â¡Å“ Ã«Â³â€˜Ã­â€¢Â©Ã«ÂËœÃ«Ââ€žÃ«Â¡Â Ã¬â€žÂ¤Ã¬Â â€¢ */
}

th{
    font-size: 15px;
}

th {
    font-size: 20px;
    color: #666565;
    /* font-weight: 100; */
}

th:nth-child(1) {
    width: 80px;
}

th:nth-child(2) {
    width: 300px;
}


th:nth-child(3) {
    width: 400px;
}

th:nth-child(4) {
    width: 200px;
}

th:nth-child(5) {
    width: 200px;
}

th:nth-child(6) {
    width: 100px;
}

td,
th {
    padding: 10px;
    border-bottom: 1px solid #808080; /* ÃªÂ¸Â°Ã«Â³Â¸Ã¬Â ÂÃ¬Å“Â¼Ã«Â¡Å“ ÃªÂ°Â Ã¬â€¦â‚¬Ã¬â€”Â Ã¬â€žÂ Ã¬Ââ€ž Ã¬Â¶â€ÃªÂ°â‚¬ */
}

td {
    text-align: center;
    font-size: 18px;
    padding:12px;
}

td:last-child button {
    width: 100px;
    height: 30px;
    color: white;
    font-size: 16px;
    border: none;
    outline: none;
}

td:last-child button:first-child {
    background-color: #ea8874;
    border: none;
    cursor: pointer;
}

td:last-child button:last-child {
    background-color: #374658;
    cursor: pointer;
}

img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.add_tag{
cursor:pointer;
}
