<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/static/css/comuser/mypage/ComuserInfo.css" rel="stylesheet" />
    <link href="/static/css/user/Side/users_body.css" rel="stylesheet" />

    <script src="/static/js/user/jquery-3.7.0.min.js"></script>

    <title>기업 유저 페이지</title>
</head>

<div class="s_header" th:replace="~{comuser/header/comHeader :: comHeader}"></div>

<body>
<main>
    <content>
        <script th:inline="javascript">
            /*<![CDATA[*/
            var applyEmploy = [[${applyEmploy}]];
            /*]]>*/
        </script>
        <div class="body">
            <div class="body_title">
                <span>나의 기업</span>
                <span>정보</span>
            </div>

            <div class="body_title_right">
                <img src="/static/images/home.png" alt="홈 아이콘" style="width: 20px;"> > 내 정보 > 내 정보
            </div>
            <!-- 주요내용 -->
            <div class="contents">
                <div class="UserInfo_content">
                    <div class="div1">
                        <div class="UserInfo_content_text">
                            <p class="ti">회사명</p><p th:text="${company.com_name}"></p>
                        </div>
                        <div class="UserInfo_content_text">
                            <p class="ti">담당자 번호</p><p th:text="${company.manager_phone}"></p>
                        </div>
                        <div class="UserInfo_content_text">
                            <p class="ti">이메일</p><p th:text="${company.com_email}"></p>
                        </div>
                    </div>
                    <div>
                        <div class="UserInfo_content_text">
                            <p class="ti">회사 주소</p><p th:text="${company.com_addr}"></p>
                        </div>
                        <div class="UserInfo_content_text">
                            <p class="ti">홈페이지</p><p th:text="${company.com_home}"></p>
                        </div>
                        <div class="UserInfo_content_text">
                            <p class="ti">구분</p><p>기업</p>
                        </div>
                    </div>
                </div>
                <button type="submit" id="comrepop" class="sec_btn">탈퇴하기</button>
            </div>

        </div>
    </content>

    <div class="sidefooter" th:replace="~{comuser/Side/Mypage/MyPageSide :: MyPageSide}"></div>

</main>
<script th:if="${param.success}" type="text/javascript">
    alert('정보변경 완료.');
</script>
<script th:if="${param.successPw}" type="text/javascript">
    alert('비밀번호 변경 완료.');
</script>

<script>
    <!--    // header script-->
    <!--    $(document).ready(function () {-->
    <!--        //**** 마우스오버  ****//-->
    <!--        //서브메뉴 숨기고 시작-->
    <!--        $(".subMenu").hide();-->
    <!--        // 마우스 오버-->
    <!--        $(".mainMenu, .subMenu").mouseover(function () {-->
    <!--            $(".subMenu").stop().slideDown(500);-->
    <!--        }).mouseout(function () {-->
    <!--            $(".subMenu").stop().slideUp(500);-->
    <!--        });-->
    <!--    });-->

</script>

<script th:inline="javascript">
    <!--        Thymeleaf 변수를 JavaScript 변수로 초기화-->
                var comCode = [[${company.com_code}]];

                document.getElementById('comrepop').addEventListener('click', function() {
                    if (comCode) {

                        var popupUrl = "/com/myPage/rePoP/" + comCode;
                        window.open(popupUrl, "a", "width=550, height=300, left=650, top=330");
                    } else {

                        alert("찾을 수 없는 페이지입니다.");
                    }
                });
</script>
<div class="s_header" th:replace="~{comuser/footer/comFooter :: comFooter}"></div>
<style>
    footer {
      width: 100%;
      height: 100px;
      position: absolute;
      top:853px;
      background-color: #374658;
    }
</style>
</body>
</html>