<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/admin/employapply/AdExpoAudit.css" />
    <title>채용 박람회 심사</title>
</head>
<body style="width:950px;">
<div class="s_header" th:replace="~{admin/header/ScheduleHeader :: scheduleHeader}"></div>
<div class="container" style="width:950px;">
    <div class="main_title">
        <p>채용 박람회 심사</p>
    </div>
    <div class="cho">
        <p class="clo" th:onclick="'javascript:location.href=&quot;/admin/show/employapply/com/' + ${ExpoCode} + '&quot;'">심사전</p>
        <p th:onclick="'javascript:location.href=&quot;/admin/show/ok/employapply/com/' + ${ExpoCode} + '&quot;'">심사완료</p>
    </div>
</div>
<table th:each="list : ${ComList}">
    <tr>
        <th>번호</th>
        <th >회사명</th>
        <th >제목</th>
        <th >신청파일</th>
        <th>승인 여부</th>
    </tr>
    <tr>
<!--        th:text="${list.app_file_name}"-->
        <td >1</td>
        <td th:text="${list.com_addr}" th:onclick="'javascript:openPopup(\'/admin/cominfo/' + ${list.com_code} + '\')'">예일회사</td>
        <td th:text="${list.app_title}">제목ㅇㅇ</td>
        <td>
            <span>
                <a alt=""
                   th:href="@{'http://192.168.2.3/images/a/' + ${list.app_file_name}}"
                   class="file"
                download>
                 &nbsp;</a>
            </span>
        </td>
        <p></p>
        <form th:action="@{/admin/com/audit/{ExpoCode}/{cappNum}(ExpoCode=${ExpoCode},cappNum=${list.capp_num})}" method="post">
        <td>
            <input type="hidden" name="action" class="a" style="display:none">
            <button class="1" type="submit" name="approval" value="1">승인</button>
            <button class="2" type="submit" name="approval" value="0">비승인</button>
        </td>
        </form>
    </tr>
</table>
<div class="sidebar" th:replace="~{admin/side/AdJudgeSide :: JudgeSide}"></div>
<script>
    function openPopup(url) {
        var width = 500;
        var height = 300;

        var left = (screen.availWidth - width) / 2;
        var top = (screen.availHeight - height) / 2;

        var popup = window.open(url, 'popup', 'width=' + width + ',height=' + height + ',top=' + top + ',left=' + left);
        popup.focus();
    }
</script>
</body>
</html>
