<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/admin/employapply/ComInfo.css">
    <title>Document</title>
</head>
<body>
<div class="cominfo_main_title">
    <span th:text="${ComInfo.com_name}">영복이 회사</span>
</div>

<table>
    <tr class="f">
        <td class="cominfo_img" rowspan="5"><img th:src="@{'http://192.168.2.3/images/a/' + ${ComInfo.com_image}}" alt=""></td>
    </tr>
    <tr class="f">
        <td class="c">담당자</td>
        <td class="cominfo_body_table"  th:text="${ComInfo.com_manager}">ㅇㄹㄴ</td>
        <td class="c">전화번호</td>
        <td class="cominfo_body_table3"  th:text="${ComInfo.manager_phone}">ㄴㅇㄹ</td>
    </tr>
    <tr class="f">
        <td class="c">이메일</td>
        <td class="cominfo_body_table2"  colspan="3"  th:text="${ComInfo.com_email}">ㅇㄹㄴ</td>
    </tr>
    <tr class="f">
        <td class="c">회사주소</td>
        <td class="cominfo_body_table2" colspan="3"  th:text="${ComInfo.com_addr}">ㄴㅇㄹㄴ</td>
    </tr>
    <tr class="f">
        <td class="c">홈페이지 링크</td>
        <td class="cominfo_body_table2" colspan="3" th:text="${ComInfo.com_home}" >ㅇㄴㄹㅇ</td>
    </tr>
</table>
<div class="btn_box_">
    <button onclick="closePopup()">확인</button>
</div>
<script>
    function closePopup() {
        window.close();
    }
</script>
</body>
</html>