<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/admin/employapply/AdExpoAuditList.css" />

    <title>관리자 페어 박람회 심사 목록</title>
    <style>
        /* 추가된 CSS 스타일 */
        .pagination {
            display: flex;
            list-style: none;
            padding: 0;
            margin-top: 20px;
        }

        .pagination li {
            margin: 0 5px;
        }

        .pagination a {
            text-decoration: none;
            color: #000;
            background-color: #fff;
            border: none;
            outline: none;
            border-radius: 4px;
        }


        .pagination .active a {
            background-color: #007bff;
            color: #fff;
        }
    </style>
</head>
<div class="s_header" th:replace="~{admin/header/ScheduleHeader :: scheduleHeader}"></div>
<div class="sidebar" th:replace="~{admin/side/AdJudgeSide2 :: JudgeSide}"></div>
<body style="width:1600px;">
<div class="container">
    <div class="title-box">
        <div class="body_title">
            <span>페어 박람회 심사</span>
            <span>신청기업 수</span>
        </div>
    </div>
    <div class="line"></div>
    <div class="content" th:each="list,iterStat: ${FairList}">
        <div class="expo-info-box">
            <div class="cont-img">
                <img th:src="@{'http://192.168.2.3/images/a/' + ${list.expo_image}}" alt="" />
            </div>
            <div class="expo-info" th:onclick="'javascript:location.href=&quot;/admin/show/employapply/com/' + ${list.expo_code} + '&quot;'">
                <p class="expo-name"  th:text="${list.expo_title}">2024 예일 박람회</p>
                <div class="period-box2">
                    <p th:text="${list.expo_start}">2024-01-10</p>
                    <p th:text="${list.expo_end}">2024-01-10</p>
                    <p th:text="${list.expo_time}">10:00</p>
                    <p th:text="${list.expo_end_time}">10:00</p>
                </div>
                <p th:text="${list.expo_add}">장소</p>
            </div>
            <div class="com_count">
                <p th:text="${comCount[iterStat.index]}">22</p>
            </div>
        </div>
        <div class="line"></div>
    </div>
    <nav aria-label="Page navigation example" class="pageBtn">
        <ul class="pagination" >
        </ul>
    </nav>
    <p  style="display:none;" class="total_page" th:text="${TotalPage}"></p>
<!--    <p  class="total_page"></p>-->

</div>
<script th:if="${not #lists.isEmpty(FairList)}">


    let total_page = document.querySelector('.total_page').textContent;
    console.log(total_page);

    // 부모 요소
    var paginationContainer = document.querySelector(".pagination");

    if (paginationContainer && total_page > 0) {
        // 이전 버튼
        var prevButton = document.createElement("li");
        prevButton.classList.add("page-item");
        prevButton.innerHTML = `<a class="page-link"  href="/admin/employapply/fair/list?page=0" aria-label="Previous"><span aria-hidden="true"><</span></a>`;
        paginationContainer.appendChild(prevButton);

        // 페이지 번호 생성
        for (var i = 1; i <= total_page; i++) {
            var pageItem = document.createElement("li");
            pageItem.classList.add("page-item");
            pageItem.innerHTML = `<a class="page-link" href="/admin/employapply/fair/list?page=${i-1}">${i}</a>`;

            paginationContainer.appendChild(pageItem);
        }

        // 다음 버튼
        var nextButton = document.createElement("li");
        nextButton.classList.add("page-item");
        nextButton.innerHTML = `<a class="page-link" href="/admin/employapply/fair/list?page=${total_page-1}" aria-label="Next"><span aria-hidden="true">></span></a>`;
        paginationContainer.appendChild(nextButton);
    }



</script>
</body>
</html>
