
.wrap {
position:relative;
top:100px;
left:110px;
}
 .body_title {
    position: absolute;
    top: 60px;
    left: 350px;
    width: 920px;
    padding-bottom: 15px;
    border-bottom: 3px solid #374658;
  }
  .body_title span{
    font-weight: 800;
    font-size: 30px;
  }
  .body_title span:last-child{
    color: #374658;
  }
.form {
    border-top: 3px solid #374658;
  }
 .qu_title {
    position: absolute;
    top: 130px;
    left:0px;
    width: 920px;
    text-align: center;
    color: #787878;
    font-weight: 700;
    font-size: 13pt;
    display:inline;
 }
  .qu_title span {
  color:#787878;
  position:absolute;
  left:350px;
  top:5px;
  }
 .qu_title input {
    width: 860px;
    height:30px;
    position:absolute;
    left:410px;
    border:2px solid #ccc;
    top: 5px;
 }
 .qu_content td {
width: 920px;
 height:400px;
 position:absolute;
 top:175px;
 left:350px;
 }

 .in_btn {
    border: 2px solid #ccc;
    border: 2px solid #ccc;
    width: 110px;
    height: 30px;
    color: #fff;
    background-color: #374658;
    position: absolute;
    left: 730px;
    top: 600px;
    cursor: pointer;
  }

