* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    position: absolute;
    top:30px;
}

.error-message{
    text-align: center;
    color: red;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2200px;
    /* background-color: #f0f0f0;  */
}

main {
    width: 550px;
    height: 1870px;
    /* backgound-color: aqua; */
    border: 1px solid #ccc;
}


.id_text_input{
    display: flex;
    justify-content: center;
    align-items: center;

}

.idbox_join{
    width: 450px;
    height: 55px;
    border: none;
    border-bottom: 2px solid rgba(20, 18, 18, 0.192);
    margin-top: 90px;
    font-size: 13px;
    padding: 5px;
    outline: none;
}

.join_title{
    position: absolute;
    left: 729px;
}

.passCheck{
    width: 450px;
    height: 55px;
    border: none;
    border-bottom: 2px solid rgba(20, 18, 18, 0.192);
    font-size: 13px;
    padding: 5px;
    outline: none;
}

select{
    width: 450px;
    height: 55px;
    border: none;
    border-bottom: 2px solid rgba(20, 18, 18, 0.192);
    font-size: 13px;
    padding: 5px;
    outline: none;
}

.join_button{
    width: 450px;
    height: 55px;
}

.join_button_form{
    display:flex ;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}


.text_join {
      width: 450px;
      height: 70px;
      margin-top: 100px;
      padding: 8px;
      border-radius: 10px;
      resize:none;
}

button {
    margin-left: 10px;
    width: 100px;
    cursor: pointer;
    background-color: #374658;
    color: white;
    border-radius: 10px;
}
