h1 {
    position: absolute;
    top: 90px;
    font-size: 35px;
}

.select_form {
    height: 880px;
    display: flex;
    justify-content: center;
    align-items: center;
}


section {
    width: 500px;
    height: 500px;
    border: 1px solid #aaa;
    margin-right: 40px;

}

main {
    width: 500px;
    height: 500px;
    border: 1px solid #aaa;

}

.person_png_form{
    text-align: center;
    margin-top: 100px;

}

.company_png_form{
    text-align: center;
    margin-top: 88px;

}

.person_png, .company_png{
    width: 200px;
}

/* 호버 효과 */
section:hover,
main:hover {
    background-color: #fff0ed; /* 바꿀 색상 설정 */

}

a {
    color: black; /* 원하는 색상으로 변경 */
    text-decoration: none;
}

/* 
  a:hover {
    color: white; 
}  */
