h1 {
    position: absolute;
    top: 90px;
    font-size: 35px;
}

.select_form {
    height: 880px;
    display: flex;
    justify-content: center;
    align-items: center;
}


section {
    width: 500px;
    height: 500px;
    border: 2px solid #aaa;
    margin-right: 40px;
}

main {
    width: 500px;
    height: 500px;
    border: 2px solid #aaa;
}

.person_png_form{
    text-align: center;
    margin-top: 100px;

}

.company_png_form{
    text-align: center;
    margin-top: 88px;

}

.person_png, .company_png{
    width: 200px;
}

/* í˜¸ë²„ íš¨ê³¼ */
section:hover,
main:hover {
    background-color: #fff0ed; /* ë°”ê¿€ ìƒ‰ìƒ ì„¤ì • */
    border-color:#EA8874;
}

a {
    color: black; /* ì›í•˜ëŠ” ìƒ‰ìƒìœ¼ë¡œ ë³€ê²½ */
    text-decoration: none;
}

/* 
  a:hover {
    color: white; 
}  */
