body{
 display: flex;
 justify-content: center;
 align-items: center;
}


section{
    width: 960px;
    height: 870px;
    float: left;
    border-right: 2px solid #ccc;
     cursor: pointer;
}



main{
    width: 960px;
    height: 870px;
    float: left;
     cursor: pointer;
}

.person_png{
    display: flex;
    justify-content: center;
    align-items: center;
}

.person{
    position: absolute;
    top: 250px;
    width: 250px;
}

.person_text{
    position: absolute;
    top: 450px;
}

.person_text2{

    position: absolute;
    top: 510px;

}

/* 호버 효과 */
section:hover,
main:hover {
    background-color: #EA8874; /* 바꿀 색상 설정 */
}

a {
    color: black; /* 원하는 색상으로 변경 */
    text-decoration: none;
}

a:hover {
    color: white; /* 호버 시 색상 변경 */
}