* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    /* background-color: #f0f0f0;  */
}

main {
    width: 550px;
    height: 430px;
    /* background-color: aqua; */
    border: 1px solid #ccc;
}

h1{
    position: absolute;
    top: 150px;

}

.login_input_form{
    display: flex;
    justify-content: center;
    align-items: center;


}

.login_idtext_input{

    width: 450px;
    height: 55px;
    border: none;
    border-bottom: 2px solid rgba(20, 18, 18, 0.192);
    margin-top: 50px;
    font-size: 18px;
    padding: 10px;
    outline: none;

}

.login_passtext_input{

    width: 450px;
    height: 55px;
    border: none;
    border-bottom: 2px solid rgba(20, 18, 18, 0.192);
    margin-top: 10px;
    font-size: 18px;
    padding: 10px;
    outline: none;

}

.login_btn_form{
    display: flex;
    justify-content: center;
    align-items: center;

}



button{

    margin-top: 30px;
    width: 450px;
    height: 50px;
    border: 0;
    outline: 0;
    cursor: pointer;
    background-color: #374658;
    color: white;

}

.kakao_btn{
    margin-top: 0px;
    width: 450px;
    height: 50px;
    border: 0;
    outline: 0;
    cursor: pointer;
    background-color: rgb(180, 180, 104);

}

.line_or {
    position: relative;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 0;
    line-height: 0;
}

.line_or:before {
    display: inline-block;
    width: calc(50% - 20px);
    height: 1px;
    margin: 8px 0;
    background-color: rgba(0,0,0,.06);
    vertical-align: top;
    content: "";
}

.line_or:after,.line_or:before {
    display: inline-block;
    width: calc(50% - 20px);
    height: 1px;
    margin: 8px 0;
    background-color: rgba(0,0,0,.06);
    vertical-align: top;
    content: "";
}

.line_or .txt_or {
    display: inline-block;
    width: 40px;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #828282;
}

.login_idsearch_form {
    display: flex;
    margin-top: 15px;
    position: absolute;
    left: 735px;
}

.pwsearch{
    margin-left: 20px;
}


.join_btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.join_btn_login{
    margin-top: 70px;
    width: 450px;
    height: 30px;
    background-color: #ccc;
}

.idserach, .pwsearch{
    cursor: pointer;
}

.kakao_btn{
 background-color:#fee500;
 color:black;
}

.join_link_text{
    cursor:pointer;
    margin-right: 200px;

  }

.join_link_text a {
    text-decoration: none; /* 언더라인 제거 */
    border-bottom: 1px solid transparent; /* 초기 상태의 투명한 선 생성 */
    transition: border-bottom 0.3s ease; /* 트랜지션 효과 추가 */
    color:#ccc;
}

.join_link_text a:hover {
    border-bottom: 1px solid black; /* 호버 시 언더라인 표시 및 색상 지정 */
}

.idserach a, .pwsearch a{

    text-decoration: none; /* 언더라인 제거 */
    border-bottom: 1px solid transparent; /* 초기 상태의 투명한 선 생성 */
    transition: border-bottom 0.3s ease; /* 트랜지션 효과 추가 */
    color:#ccc;

}

.idserach a:hover, .pwsearch a:hover {
    border-bottom: 1px solid black; /* 호버 시 언더라인 표시 및 색상 지정 */
}