
    footer {
      width: 100%;
      height: 100px;
      position: relative;
      top: 253px;
      background-color: #374658;
    }
    footer > div{
      position: absolute;
      top: 20px;
      left: 100px;
    }
    footer div:nth-child(2){
      position: absolute;
      left: 430px;
      top: 30px;
    }
    footer div:nth-child(2) a,
    footer div:nth-child(2) span  {
      color: #fff;
    }
    footer div:nth-child(2) a {
      text-decoration: underline;
    }
    footer div:nth-child(2) span {
      font-weight: 200;
      position: absolute;
      top: 25px;
    }