<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/admin/schedule/ScheduleEmp.css" />
    <script type="text/javascript" src="/static/smarteditor/js/HuskyEZCreator.js" charset="utf-8"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <title>취업 박람회 일정등록</title>
</head>
<body style="width: 1550px;">
<div class="s_header" th:replace="~{admin/header/ScheduleHeader4 :: scheduleHeader}"></div>
<div class="sidebar" th:replace="~{admin/side/ScheduleSide4 :: scheduleSide}"></div>
<div class="container">
    <p class="p-title">취업 박람회 일정 등록</p>
    <p class="line"></p>
    <form enctype="multipart/form-data"  >
    <table class="notice-list">
        <tr class="first_table">
            <td class="schedule_main">
                <span class="info">박람회 이름</span>
            </td>
            <td class="schedule_input">
                <span><input type="text" name="ExpoTitle" id="ExpoTitle" maxlength="25" required/></span>
            </td>
            <td class="schedule_main">
                <span class="info">주최</span>
            </td>
            <td class="schedule_input">
                <span><input type="text" id="ExpoHost" placeholder="대표자 한명만 적어주세요" name="ExpoHost" maxlength="10" required/></span>
            </td>
        </tr>

        <tr>
            <td class="schedule_main">
                <span class="info">진행시간</span>
            </td>
            <td class="schedule_input">
                <span><input type="time" name="ExpoTime" id="ExpoTime" />
                    <div class="wild"> ~ </div>
                    <input type="time" id="ExpoEndTime" name="ExpoEndTime" /></span>
            </td>
            <td class="schedule_main">
                <span class="info">주관</span>
            </td>
            <td class="schedule_input">
                <span><input type="text" id="ExpoManage" placeholder="대표업체 하나만 적어주세요" name="ExpoManage" maxlength="10" required/></span>
            </td>
        </tr>

        <tr>
            <td class="schedule_main">
                <span class="info">장소</span>
            </td>
            <td class="schedule_input">
                <span><input type="text" id="ExpoAdd" name="ExpoAdd" maxlength="50" required/></span>

            </td>
            <td class="schedule_main">
                <span class="info">전시품목</span>
            </td>
            <td class="schedule_input">
                <span><input type="text" id="ExpoExhibit" name="ExpoExhibit" maxlength="100" required/></span>
            </td>
        </tr>

        <tr>
            <td class="schedule_main">
                <span class="info">썸네일 이미지</span>
            </td>
            <td class="schedule_input">
                <span><input type="file" id="ExpoImage" name="ExpoImage"  required/></span>
            </td>
            <td class="schedule_main">
                <span class="info">담당자</span>
            </td>
            <td class="schedule_input">
                <span><input type="text" id="MasterName" name="MasterName"  required/></span>
            </td>
        </tr>

        <tr>
            <td class="schedule_main">
                <span class="info">신청기간</span>
            </td>
            <td class="schedule_input">
                <span class="start-date"
                ><input type="date" name="ApplyStart"  required id="ApplyStart"
                /></span>
                <span><input type="date" name="ApplyEnd"  required id="ApplyEnd"/></span>
            </td>
            <td class="schedule_main">
                <span class="info">전화번호</span>
            </td>
            <td class="schedule_input">
            <span><input type="number" name="MasterPhone" maxlength="11" id="MasterPhone" required placeholder="'-'빼고 입력해주세요"/></span>
            </td>
        </tr>

        <tr>
            <td class="schedule_main">
                <span class="info">진행기간</span>

            </td>
            <td class="schedule_input">
                <span class="start-date"
                ><input type="date" name="ExpoStart"  required id="ExpoStart"
                /></span>
                <span><input type="date" name="ExpoEnd"  required id="ExpoEnd"/></span>
            </td>
            <td class="schedule_main">
                <span class="info">이메일</span>
            </td>
            <td class="schedule_input">
                <span><input type="email" name="MasterEmail" maxlength="50" required id="MasterEmail" /></span>
            </td>
        </tr>

        <tr>
            <td colspan="1" class="schedule_main">
                <span class="info">전시 개요</span>
            </td>
            <td colspan="3">
                <span class="outline"><input type="text" name="ExpoOutline" nonce="250" id="ExpoOutline" required /></span>
            </td>
        </tr>
        <tr class="notice-row">
            <td colspan="4">
                <textarea required name="ExpoContent" id="ir1" style="width: 100%; height: 500px;"></textarea>
            </td>
        </tr>
    </table>
        <!-- 에디터 사용 예정 -->

        <div class="sub-btn">
            <button class="in_btn" type="submit">등록하기</button>
        </div>
        </form>
</div>

<script>
    let oEditors = [];
    nhn.husky.EZCreator.createInIFrame({
    oAppRef: oEditors,
    elPlaceHolder: "ir1",
    sSkinURI: "/static/smarteditor/SmartEditor2Skin.html",
    fCreator: "createSEditor2"
    });
    // 스마트 에디터에서의 CORS 문제 해결
document.domain = "localhost";  // 스마트 에디터를 로드하는 페이지의 도메인을 지정

// ExpoStart의 변경 이벤트를 감지하여 ExpoEnd의 min 속성을 업데이트
document.getElementById('ApplyStart').addEventListener('input', function () {
    // ExpoStart의 값 가져오기
    const ApplyStartValue = this.value;

    // ExpoEnd 엘리먼트 가져오기
    const ApplyEndElement = document.getElementById('ApplyEnd');

    // ExpoEnd의 min 속성 업데이트
    ApplyEndElement.min = ApplyStartValue;
});

// ExpoEnd의 변경 이벤트를 감지하여 ExpoStart의 max 속성을 업데이트
document.getElementById('ApplyEnd').addEventListener('input', function () {
    // ExpoEnd의 값 가져오기
    const expoApplyEndValue = this.value;

    // ExpoStart 엘리먼트 가져오기
    const expoApplyStartElement = document.getElementById('ApplyStart');

    // ExpoStart의 max 속성 업데이트
    expoApplyStartElement.max = expoApplyEndValue;
});


// ExpoStart의 변경 이벤트를 감지하여 ExpoEnd의 min 속성을 업데이트
document.getElementById('ExpoStart').addEventListener('input', function () {
    // ExpoStart의 값 가져오기
    const expoStartValue = this.value;

    // ExpoEnd 엘리먼트 가져오기
    const expoEndElement = document.getElementById('ExpoEnd');

    // ExpoEnd의 min 속성 업데이트
    expoEndElement.min = expoStartValue;
});

// ExpoEnd의 변경 이벤트를 감지하여 ExpoStart의 max 속성을 업데이트
document.getElementById('ExpoEnd').addEventListener('input', function () {
    // ExpoEnd의 값 가져오기
    const expoEndValue = this.value;

    // ExpoStart 엘리먼트 가져오기
    const expoStartElement = document.getElementById('ExpoStart');

    // ExpoStart의 max 속성 업데이트
    expoStartElement.max = expoEndValue;
});

    let subBtn = document.querySelector('.in_btn');



    subBtn.onclick = () => {
    // 입력 필드를 검증합니다.
    if (!validateForm()) {

        return;
    }

    // 에디터 내용을 업데이트합니다.
    oEditors.getById["ir1"].exec("UPDATE_CONTENTS_FIELD", []);
    const textarearvalue = document.querySelector("#ir1").value;

    // FormData 객체를 생성합니다.
    let formData = new FormData(document.querySelector("form"));

    // formData를 반복하여 키-값 쌍을 로깅합니다.
    formData.forEach((v, k) => {
        console.log("키: " + k);
        console.log("값: " + v);
    });

    // AJAX 요청을 수행합니다.
    $.ajax({
        async: false,
        type: "post",
        url: "/admin/save/emp",
        enctype: "multipart/form-data",
        contentType: false,
        processData: false,
        data: formData,
        success: (response) => {
            // 성공 시 캘린더 페이지로 이동합니다.
                    window.location.replace("/admin/Calender");

        },
        error: (error) => {
        alert('실패');
            console.log(error);
        }
    });
}

// 폼을 검증하기 위한 함수
function validateForm() {
    const requiredFields = document.querySelectorAll("input[required]");
    let isValid = true;

    requiredFields.forEach((field) => {
        if (!field.value.trim()) {
            isValid = false;
        }
    });

        // 입력 필드를 검증합니다.
    if (!isValid) {
        alert("필수 입력란을 모두 채워주세요.");
    }

    return isValid;
}



</script>
</body>
</html>
