<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="comHeader">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/static/js/comuser/jquery-3.7.0.min.js"></script>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous"
    />
    <link href="/static/css/comuser/header/comHeader.css" rel="stylesheet" />
    <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
    ></script>
    <title>채용공고 헤더</title>

    <body>
    <main>
        <!-- header 부분 -->
        <header>
            <a class="logo" th:href="@{/com/JumpExpo/main}"><img src="/static/images/KakaoTalk_20240106_135536169.png" alt="로고"></a>

            <nav class="mainMenu">
                <a href="#">행사일정</a>
                <a href="#">고객센터</a>
                <a href="#">채용공고</a>
                <a href="#">리뷰</a>
                <a href="#">신청하기</a>
            </nav>
            <div class="header_right">
                <th:block th:if="${company ne null}">
                    <a th:href="@{/com/myPage}">
                        <div>
                            마이페이지
                        </div>
                    </a>
                    <a th:href="@{/logout}">
                        <div>
                            로그아웃
                        </div>
                    </a>
                </th:block>

                <!-- 유저 모델이 존재하지 않는 경우 -->
                <th:block th:unless="${company ne null}">
                    <a th:href="@{/JumpExpo/Login}">
                        <div>
                            로그인하기
                        </div>
                    </a>
                </th:block>
            </div>
        </header>
        <!-- header 끝 -->
        <!-- 서브메뉴 시작 -->
        <div class="subMenu">
            <nav class="subMenuWrap">
                <ul class="header_ul">
                    <li><a href="#">전체일정</a></li>
                    <li><a href="#">취업박람회 일정</a></li>
                    <li><a href="#">페어 일정</a></li>
                    <li><a href="#">채용박람회</a></li>
                </ul>
                <ul class="header_ul">
                    <li><a href="#">공지사항</a></li>
                    <li><a href="#">Q&A</a></li>
                </ul>
                <ul class="header_ul">
                    <li><a href="#">공고보기</a></li>
                </ul>
                <ul class="header_ul">
                    <li><a href="#">전체 리뷰</a></li>
                    <li><a href="#">취업박람회 리뷰</a></li>
                    <li><a href="#">페어 리뷰</a></li>
                    <li><a href="#">채용박람회 리뷰</a></li>
                </ul>
                <ul class="header_ul">
                    <li><a href="/com/insert/employ">채용 공고 신청하기</a></li>
                    <li><a href="/com/app/list">박람회 행사 신청하기</a></li>
                </ul>
            </nav>
        </div>
    </main>

    <script>
        $(document).ready(function () {
            //**** 마우스오버  ****//
            //서브메뉴 숨기고 시작
            $(".subMenu").hide();
            // 마우스 오버
            $(".mainMenu, .subMenu").mouseover(function () {
                $(".subMenu").stop().slideDown(500);
            }).mouseout(function () {
                $(".subMenu").stop().slideUp(500);
            });
        });
    </script>
    </body>
</header>
</html>