<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="comHeader">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/static/js/comuser/jquery-3.7.0.min.js"></script>
    <link href="/static/css/comuser/header/comHeader.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <title>기업 헤더</title>

    <body>
    <main>
        <!-- header 부분 -->
        <header>
            <a class="logo" href="/com/JumpExpo/main"><img src="/static/images/KakaoTalk_20240106_135536169.png" alt="로고"></a>

            <nav class="mainMenu">
                <a href="#">행사일정</a>
                <a href="#">채용공고</a>
                <a href="#">리뷰</a>
                <a href="#">신청하기</a>
                <a href="#">고객센터</a>
            </nav>
            <div class="header_right">
                <th:block th:if="${company ne null}">
                    <a th:href="@{/com/myPage}">
                        <div class="mypage" style="margin-right:40px;">
                            <img src="/static/images/mypage_icon.png" alt="마이페이지이미지" style="width:30px; height:30px;" onmouseover="this.src='/static/images/mypage_hover.png'">
                        </div>
                    </a>
                    <a th:href="@{/logout}">
                        <div class="logout">
                            <img src="/static/images/logout_icon.png" alt="로그아웃이미지" style="width:30px; height:30px;" onmouseover="this.src='/static/images/logout_hover.png'">
                        </div>
                    </a>
                </th:block>

                <!-- 유저 모델이 존재하지 않는 경우 -->
                <th:block th:unless="${company ne null}">
                    <a th:href="@{/JumpExpo/Login}">
                        <div>
                            <img src="/static/images/login_icon.png" alt="로그인이미지" style="width:30px; height:30px;"  onmouseover="this.src='/static/images/login_hover.png'">
                        </div>
                    </a>
                </th:block>
            </div>
        </header>
        <!-- header 끝 -->
        <!-- 서브메뉴 시작 -->
        <div class="subMenu">
            <nav class="subMenuWrap">
                <ul class="header_ul">
                    <li><a href="/com/allexpo">전체일정</a></li>
                    <li><a href="/com/emp/expolist">취업박람회 일정</a></li>
                    <li><a href="/com/fair/expolist">페어 일정</a></li>
                    <li><a href="/com/rec/expolist">채용박람회</a></li>
                </ul>
                <ul class="header_ul">
                    <li><a href="/com/show/employlist">공고보기</a></li>
                </ul>
                <ul class="header_ul">
<!--                    <li><a href="#">전체 리뷰</a></li>-->
                    <li><a href="/com/review/emp">취업박람회 리뷰</a></li>
                    <li><a href="/com/review/fair">페어 리뷰</a></li>
                    <li><a href="/com/review/rec">채용박람회 리뷰</a></li>
                </ul>
                <ul class="header_ul">
                    <li><a href="/com/insert/employ">채용 공고 신청하기</a></li>
                    <li><a href="/com/app/list">박람회 행사 신청하기</a></li>
                </ul>
                <ul class="header_ul">
                    <li><a href="/com/show/nt">공지사항</a></li>
                    <li><a href="/com/show/qu">Q&A</a></li>
                </ul>
            </nav>
        </div>
    </main>

    <script>
        $(document).ready(function () {
            // 서브메뉴 숨기고 시작
            $(".subMenu").hide();

            // 마우스 오버
            $(".mainMenu, .subMenu").mouseover(function () {
                $(".subMenu").stop().slideDown(500);
            }).mouseout(function () {
                $(".subMenu").stop().slideUp(500);
            });

            // 이미지 마우스 오버 및 아웃
            $(".mypage img, .logout img, img[src*='login_icon.png']").hover(
                function () {
                    // 마우스 오버
                    $(this).attr("src", $(this).attr("src").replace("_icon.png", "_hover.png"));
                },
                function () {
                    // 마우스 아웃
                    $(this).attr("src", $(this).attr("src").replace("_hover.png", "_icon.png"));
                }
            );
        });
    </script>
    </body>
</header>
</html>