.content{
    position: relative;
    top: 50px;
    left: 100px;
 }
 .body_title {
     position: absolute;
     top: 140px;
     left: 410px;
     width: 700px;
 }
   .body_title span{
     font-weight: 800;
     font-size: 30px;
     color:#787878;
   }
   .body_title span:last-child{
     color: #374658;
   }
 /* í…Œì´ë¸” */
table {
  position:relative;
  top: 210px;
  left: 410px;
  border-collapse: collapse;
  border-top:3px solid #374658;
  width: 918px;
  /* margin: 1rem auto; */
  background-color: white;
  font-size: 15px;
  text-align: center;
  color:#787878;
}

/* í…Œì´ë¸” í–‰ */
th, td {
  padding: 8px;
  margin: 1rem auto;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  /* text-align: center; */
}
th {
  background-color: #fff;
  color: #787878;
}
/* í…Œì´ë¸” ë¹„ìœ¨ */
th:nth-child(1),
td:nth-child(1) {
  width: 10%;
}

th:nth-child(2),
td:nth-child(2) {
  width: 50%;
}

th:nth-child(3),
td:nth-child(3) {
  width: 25%;
}
table a {
color:#787878;
text-decoration:none;
}
table a:hover {
font-weight:800;
color:#000;
opacity:0.8;
}
.paging {position:absolute;top:650px;left: 820px;width:100px;}
#pageNumbers {
display:inline;
cursor: pointer;
color:#787878;
font-weight:700;
width:10px;
margin:5px;
}
.paging button {
cursor: pointer;
border: none;
background-color: white;
}
.total_post {
position:absolute;
top:140px;
right:180px;
}
.total_post span {
color:#787878;
font-weight:700;
font-size:12px;
}

.employDetail_body{
    position: absolute;
    left: 400px;
}