/*초기 설정*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

table {
    border: 2px solid #808080;
}

/*컨텐츠*/
.contents {
    position: absolute;
    top: 140px;
    right: 55px;
    width: 920px;
    height: 200px;
    padding: 0;
    margin: 10px 0;
}

/*컨텐츠 공통사항*/
.contents div {
    width: 100%;
}

.contents>div:nth-of-type(2) {
    margin: 0 10px;
}


.body {
    width: 920px;
    margin: 0 auto;
    /* border: 1px solid #000; */
    height: 500px;
    position: relative;
    left: 80px;
    top: 130px;
}

.body_title {
    position: absolute;
    top: 60px;
    left: -60px;
    width: 920px;
    padding-bottom: 15px;
    border-bottom: 3px solid #374658;
}

.body_title span {
    font-weight: 800;
    font-size: 30px;
}

.body_title span:last-child {
    color: #374658;
}

   .body_title_right {
   position: absolute;
       top: 80px;
       right: 80px;
       font-weight:700;
       font-size:15px;
   }
   .body_title_right img {
          position: absolute;
          left: -26px;
          top: 2px;
      }
tr {
    /* background-color: aquamarine; */
}

.container{

}

.header_box{
    margin: 0px;
    display: flex;
    justify-content: space-between;
}

.clo{
    margin: 0px;
}

.tit{
    margin: 0px;
    font-size: 40px;
    color: #374658;
}

.c1{
    background-color: #F1D2B0;
    width: 100px;
    height: 20px;
}

.c2{
    background-color: #EA8874;
    width: 100px;
    height: 20px;
}

.c3{
    background-color: #374658;
    width: 100px;
    height: 20px;
}

.color_box{
    display: flex;
}

.color_box >p:first-child{
    margin-right: 10px;
}

.line{
    border-bottom: 1px solid #808080;
    width: 920px;
    margin-top: 10px;
}

.c_box{
    display: flex;
    justify-content: center;
}

.MonthDown, .MonthUp {
    width: 30px;
    height: 30px;
    border: none;
    background-color: white;
    margin-top: 5px;
    font-size: 40px;
}

.MonthDown{
    position: relative;
    bottom: 10px;
    background: none;
    right: 10px;
    color: #787878;
}

.YearText, .MonthText{
    font-size: 30px;
    margin: 0px;
}

.YearText{
    color: #374658;
    width: 120px;
}

.MonthText{
    margin: 0px;
    color: #374658;
}

.MonthUp{
    position: relative;
    bottom: 10px;
    background: none;
    left: 10px;
    color: #787878;
}

.days{
    background-color: #e7e3e3;
    border-top: 5px solid #374658;
    border-left: 1px solid #787878;
    border-right: 1px solid #787878;
}

.days > th{
    border-right: 1px solid #787878;
}

.ins_{
    margin: 0px;
    position: relative;
    left: 300px;
    width: 100px;
    height: 35px;
    margin-top: 3px;
    background-color: #374658;
    color: white;
    font-size: 15px;
    border: 1px solid #ccc;
}

.inter_td{
    display: flex;
    /* padding: 10px; */
    position: relative;
    bottom: 40px;

    width: 30px;
    border-radius: 50%;
    height: 30px;
     text-align: center;
/*    padding-left: 10px;*/

    margin-left: 10px;
    flex-direction: column;
}

span#day6 {}

.ic{
    bottom: 20px;
}

.sch {
    color:#808080;
    margin-left:10px;
}

.cle_{
    color:white;
    background-color: #374658;
}