
table {
    width: 920px;
    margin: auto;
    margin-top: 30px;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

.dk{
    width: 130px;
    background-color: #ddd;
    color: #374658;
    border-bottom: 1px solid white;
}

.addr_search{
    margin-left: 5px;
    width: 100px;
    height: 40px;
    border: none;
}

 .logo{
        width: 300px;
        height: 80px;
    }

.joinbtn{
    width: 130px;
    height: 30px;
    margin-left: 230px;
    margin-top: 50px;
    background-color: #374658;
    color: white;
    border:none;
    font-size: 15px;
}

.point:after{
    content: "*";
    color:red;
}

.h{
    width:300px;
}

.id_text_input{
    margin-top: 20px;
}

.idbox_join{
    width: 580px;
    height: 55px;
    border: none;
    border-bottom: 2px solid rgba(20, 18, 18, 0.192);
    margin-top: 10px;
    font-size: 13px;
    padding: 5px;
    outline: none;
}

.passCheck{
    width: 450px;
    height: 55px;
    border: none;
    border-bottom: 2px solid rgba(20, 18, 18, 0.192);
    font-size: 13px;
    padding: 5px;
    outline: none;
}

select{
    width: 450px;
    height: 55px;
    border: none;
    border-bottom: 2px solid rgba(20, 18, 18, 0.192);
    font-size: 13px;
    padding: 5px;
    outline: none;
}

.join_button{
    width: 450px;
    height: 55px;
}

.join_button_form{
    display:flex ;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}


.text_join {
      width: 450px;
       height: 70px;
       margin-top: 100px;
       padding: 15px;
       border-radius: 25px;
       resize:none;
}

.type{
    display: table-caption;
}

.contents{
    display: flex;
    left: -140px;
    top: 150px;
    justify-content: space-around;
    margin-left: 90px;
    width: 900px;
    height: 750px;
    border: 1px solid #ccc;
    padding: 20px;
}
.body {
    width: 920px;
    margin: 0 auto;
    /* border: 1px solid #000; */
    height: 500px;
    position: relative;
    top: 130px;
    left: 80px;
}
.body_title_right {
    position: absolute;
    top: 80px;
    right: 80px;
    font-weight: 700;
    font-size: 15px;
}
.body_title_right img {
    position: absolute;
    left: -26px;
    top: 2px;
}