*초기 설정*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

.container {
    position: relative;
    top: 96px;
    left: 70px;
     width: 920px;
     height: 500px;
     margin: 0 auto;
}
.title-box {
    width: 920px;
    display: flex;
}

.body_title {
     position: absolute;
        top: 93px;
        left: -60px;
        width: 920px;
        padding-bottom: 15px;
        border-bottom: 3px solid #374658;
}
.body_title span {
    font-weight: 800;
    font-size: 30px;
}
.body_title span:last-child {
    color: #374658;
}

.body_title_right {
        position: absolute;
        top: 100px;
        right: 70px;
        font-weight: 700;
        font-size: 15px;
}
.body_title_right img {
    position: absolute;
    left: -26px;
    top: 2px;
}
.contents {
    position: absolute;
    top: 160px;
    right: 55px;
    width: 920px;
    height: 200px;
    padding: 0;
    margin: 10px 0;
}

.r_title_box {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    /* background-color: aqua; */
    margin-bottom: 10px;
}


.r_title_box > p {
    text-align: center;
    font-weight: bold;
    color: #808080;
    width: 920px;
}


.re_box{
    display: flex;
    margin-top:20px;
}

.select-box{
    height: 50px;
}

.r_Per{
    padding-top: 15px;
}

.r_Per > p {
    width: 100px
}

.r_btns{

}

.r_date{
    display:flex;
    position: relative;
    right: 40px;
}

.r_search_box{
    margin-right:10px;

}

.r_s_btn{
    height: 25px;
    margin-bottom:10px;
    background-color: #374658;
    color:white;
    width:100px;
    border: 1px solid #ccc;
    margin-right: 5px;
}

.d1{
    margin-right:1px;
}

.period-box2_{

}

.period-box2_ > p:nth-child(1){
    color: #808080;
}

.period-box2_ > p:nth-child(2){
    font-size: 20px;
    font-weight: bold;
}

.r_sdf{
    display:flex;
}

.r_sdf > p:first-child{
    margin-right: 10px;
}

.r_sdf > p:last-child::before{
    content:'조회수 ';
}
 /* 테이블 */
table {
  position: relative;
  top: 10px;
  left: -60px;
  border-collapse: collapse;
  border-top: 3px solid #787878;
  width: 918px;
  /* margin: 1rem auto; */
  background-color: white;
  font-size: 15px;
  text-align: center;
  color:#787878;
}

/* 테이블 행 */
th, td {
  padding: 8px;
  margin: 1rem auto;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  /* text-align: center; */
}
th {
  background-color: #fff;
  color: #787878;
}
/* 테이블 비율 */
th:nth-child(1),
td:nth-child(1) {
  width: 10%;
}

th:nth-child(2),
td:nth-child(2) {
  width: 30%;
}

th:nth-child(3),
td:nth-child(3) {
  width: 25%;
}
th:nth-child(4),
td:nth-child(4) {
  width: 25%;
}

.expo-name:hover {font-weight: 800;color:#000;opacity:0.8;}
