/*초기 설정*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
.container {
    position:relative;
    top: -5PX;
    left: 80px;
    margin:0 auto;
    width: 920px;
}

.title-box {
    width: 920px;
    display: flex;
}

.body_title {
     position: absolute;
    top: 93px;
    left: -60px;
    width: 920px;
    padding-bottom: 15px;
    border-bottom: 3px solid #374658;
}
.body_title span {
    font-weight: 800;
    font-size: 30px;
}
.body_title span:last-child {
    color: #374658;
}

.body_title_right {
   position:absolute;
   right:70px;
   top: 100px;
   font-weight: 700;
   font-size: 15px;
}
.body_title_right img {
    position: absolute;
    left: -26px;
    top: 2px;
}
.expo_name_box {
        font-size: 20px;
            position: absolute;
            top: 160px;
            text-align: center;
            margin: 0 auto;
            width: 920px;
            font-weight: 700;
            border-bottom: 3px solid #ccc;
            margin-left: 0px;
            height: 35px;
            left: -60px;
}

.line2 {
    border-bottom: 3px solid #374658;
    margin-top: 30px;
    margin-left: -60px;
    width:920px;
}

.expo_info_box {
    display: flex;
    position: relative;
        top: 230px;
        left: -40px;
}

.img_box {
    width: 250px;
    height: 150px;
    /* background-color: antiquewhite; */
}

.img_box > img {
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}

.expo_info {
        margin-left: 30px;
        font-size: 15px;
        color: #808080;
}
.expo_info span {
    margin-top: 13px;
    margin-left: 15px;
}
.info_box1 {
    display: flex;
    /* margin-top: 10px; */
}

.info_box1 p:first-child {
    margin-left: 10px;
    margin-top: 13px;
}
.info_box1 p:last-child {
    margin-left: 15px;
    margin-top: 13px;
}
.info_box1::before {
    content: '● ';
    color: #787878;
    font-size: 7px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.outline_box {
        display: flex;
        height: 130px;
        position: relative;
        top: 240px;
        left: -100px;
        width: 920px;
}

.o_box1 {
        background-color: #374658;
        width: 130px;
        color: white;
        display: flex;
        /* align-items: center; */
        justify-content: center;
        margin-left: 40px;
        margin-top: 20px;
        font-weight: bold;
        text-align: center;
        line-height: 110px;
}

.o_box2 {
    width: 770px;
        background-color: #ccc;
        word-wrap: break-word;
        max-height: 200px;
        overflow-y: auto;
        text-align: center;
        line-height: 110px;
        /* margin-right: 0px; */
        position: absolute;
        top: 20px;
        left: 190px;
}

.o_box2 p {
    margin-left: 5px;
    margin-top: 5px;
}

.expo_info_box2 {
   position: relative;
   top: 260px;
   left: -40px;
}

.info_box2 {
    display: flex;
}

.info_box2 p:first-child {
    width: 100px;
    border: 2px solid #808080;
    padding: 5px 8px;
    text-align: center;
    margin-bottom: 10px;
}

.info_box2 p:last-child {
    margin-left: 20px;
    display: flex;
    align-items: center;
    /* background-color: aqua; */
    justify-content: center;
    height: 34px;
}

.expo_explanation {
    margin-top: 300px;
    text-align: center;
    width: 920px;
    border: 2px solid #ccc;
    /* height: 130px; */
    margin-left: -60px;
}

.btn_box {
   text-align: center;
   margin-top: 40px;
   display: flex;
   margin-left: 240px;
}

.btn_box button {
    width: 130px;
    height: 40px;
    color: white;
    background-color: #374658;
    font-size: 15px;
    border:1px solid #ccc;
}
.btn_box button:last-child {
margin-left:20px;
}

 .list {
    border: 2px solid #ccc;
    width: 110px;
    height: 30px;
    color: #fff;
    background-color: #374658;
    /* position: absolute; */
    top: 1008px;
    left: 400px;
    bottom: 0px;
    cursor: pointer;
  }

  .expo_explanation > p > img{
  width: 920px;
  }

 .listss{
    border: 2px solid #ccc;
    width: 110px;
    height: 30px;
    color: #fff;
    background-color: #374658;
    position: relative;
    top: 18px;
    left: 400px;
    bottom: 0px;
    cursor: pointer;
  }