* {
    margin: 0 auto;
}

.p_style{
    font-size: 17px;
    color: #000;
    text-align: center;
    font-weight: bold;
}

body {
    width: 530px;
}

.title-box {
    display: flex;
}

.body_title {
    margin: 0px;
}

.body_title > span {
    font-size: 40px;
    color: #808080;
    font-weight: bold;
}

.body_title_right {
    margin-left: 380px;
}

.line {
    margin-top: 10px;
    /* border-bottom: 3px solid #ccc; */
}

.po {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input_box {
    margin: 0px;
    height: 250px;
}

input:focus {
    outline: 0;
}

.box3 {
    margin-top: 80px;
    display: flex;
}

#file {
    display: none;
}

.file-box {
    margin: 0px;
    font-weight: bold;
    border: 1px solid #374658;
    width: 180px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.warning_text {
    margin-top: 60px;
    color: rgb(255, 0, 0);
    font-weight: bold;
    font-size: 11px;
    margin-left: 20px;
}

.btn_box {
    display: flex;
    margin-top: -50px;
}

.btn_box > button {
    width: 170px;
    height: 40px;
    background-color: #374658;
    color: white;
    font-size:15px;
    cursor: pointer;
}

.btn_box > div > button {
    width: 170px;
    height: 40px;
    background-color: #374658;
    color: white;
    font-size:15px;
    margin-left: -150px;
    cursor: pointer;
}