.container {
position:absolute;
left:100px;
}
.main_title {
    font-size: 35px;
    font-weight: bold;
    position: absolute;
    left: 200px;
    top: 100px;
    color: #374658;
}

.cho {
    margin-top: 30px;
    display: flex;
    font-size: 23px;
    position: absolute;
    left: 200px;
    top: 130px;
}

.cho > p {
    margin: 0px;
    margin-right: 20px;
    font-weight: bold;
}

.clo {
    color: #ea8874;
}

table {
    margin: 0px;
    margin-top: 50px;
    width: 1600px;
    border-collapse: collapse; /* ì¸ì ‘í•œ ê²½ê³„ê°€ ê°™ì€ ê²½ê³„ë¡œ ë³‘í•©ë˜ë„ë¡ ì„¤ì • */
    position: absolute;
    top: 175px;
    left: 300px;
}

th {
    /* font-size: 22px; */
    /* color: #666565; */
    /* font-weight: 100; */
    color: #7a7a7a;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid #5c5c5c;
}

th:nth-child(1) {
    width: 60px;
    padding: 20px;
}

th:nth-child(2) {
    width: 200px;
}

td:nth-child(2) {
    width: 200px;
    cursor: pointer;
}

th:nth-child(3) {
    width: 300px;
}

th:nth-child(4) {
    width: 120px;
}

th:nth-child(5) {
    width: 270px;
}

td,
th {
    padding: 10px;
    border-bottom: 1px solid #808080; /* ê¸°ë³¸ì ìœ¼ë¡œ ê° ì…€ì— ì„ ì„ ì¶”ê°€ */
}

td {
    text-align: center;
    font-size: 18px;
    color: #808080;
    border-bottom: 1px solid #5c5c5c;
    padding-top: 12.5px;
    padding-bottom: 12.5px;
}

td:last-child button {
    width: 100px;
    height: 30px;
    color: white;
    font-size: 18px;
}

td:last-child button:first-child {
    background-color: #ea8874;
    border: none;
    cursor: pointer;
}

.number_ad{
    font-size: 20px;
    font-weight: bold;
    color: #374658;
}

button{
    outline: none;
    border: none;
}

.cno{
    color: #585858;
}

img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.file{
    margin:0px;
    display:flex;
    background-image: url("/static/images/free-icon-zip-10435495.png");
    background-size: 30px 20px; /* ë°±ê·¸ë¼ìš´ë“œ ì´ë¯¸ì§€ í¬ê¸° ì„¤ì • */
    background-repeat:no-repeat;
    margin-left:85px;
}

td > .ad_button_1{
    background-color: #374658;
}

.pageBtn{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 870px;
    left: 1115px;
}

td > .ad_button_2{
    background-color: red;
}