*{
margin: 0 auto;
}

body {
width: 1100px;
}

.body_data{
display: flex;
position:relative;
left:0;
}

.span_title{position: absolute;top: 90px;left: -200px;font-size: 25px;font-weight: bold;color: #374658;}

.header_a {
display: inline-block;
position: absolute;
top: 150px;
left: -200px;
}

table,
th,
td {
border: 1px solid #bbbbbb;
border-collapse: collapse;
/* text-align: left; */
}

.body_table{display: flex;position: absolute;left: -200px;top: 210px;width: 1600px;}

.body_table2{display: flex;position: absolute;left: -200px;top: 530px;width: 1600px;}

.p_1{font-size: 35px;font-weight: bold;color: #374658;position: absolute;bottom: 5px;width: 1000px;}

.p_2{display: inline-block;font-size: 17px;font-weight: bold;color: #374658;position: relative;top: 20px;}

.p_3{display: inline-block;font-size: 17px;font-weight: bold;color: #374658;position: relative;top: 20px;}

.company_logo{width: 300px;height: 300px;text-align: center;}

.semi_title{width: 200px;text-align: center;background-color: #eeeeee;font-size: 15px;font-weight: bold;color: #414141;}

.semi_body{width: 450px;padding-left: 8px;font-size: 15px;color: #414141;}

.semi_body2{width: 350px;height: 50px;padding-left: 8px;font-size: 14px;color: #414141;}

.smart_editor_content{
    word-break:break-all;
    border: 2px solid #a8a8a8;
    /* border-bottom: 2px solid #a8a8a8; */
    top: 660px;
    position: absolute;
    left: -200px;
    width: 1558px;
    padding: 20px;
}

.apply_button {
    text-align: center;
    padding-top: 30px;
    position: relative;
    top: 90px;
}

.apply_button form {
    display: inline-block;
    margin-right: 5px; /* ë²„íŠ¼ ì‚¬ì´ ê°„ê²© ì¡°ì ˆ */
}

.apply_button button {
    background-color: #374658;
    color: white;
    width: 200px;
    height: 40px;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.header_b {
    display: inline-block;
    position: fixed;
    top: 90px;
    left: 878px;
    font-size: 50px;
    font-weight: bold;
}

    img{
        width: 100%;
        height: 100%;
        text-align: center;
    }