<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/admin/AdreviewDe.css" />
    <title>관리자 리뷰 관리</title>
</head>
<div class="s_header" th:replace="~{admin/header/ScheduleHeader3 :: ScheduleHeader3}"></div>
<div class="sidebar" th:replace="~{admin/side/Reviewside :: Reviewside}"></div>

<body>
<main>
    <content>
        <div class="body">
            <!--            <div class="body_title">-->
            <!--                <span>마이</span>-->
            <!--                <span>리뷰</span>-->
            <!--            </div>-->

            <!--            <div class="body_title_right">-->
            <!--                <img src="/static/images/home.png" alt="홈 아이콘" style="width: 20px;"> > 내정보 > 마이리뷰-->
            <!--            </div>-->

            <!-- 주요내용 -->
            <div class="contents">
                <div class="container_">
                    <div class="r_title_box">
                        <p th:text="${UserReList.re_title}">내가 쓴 리뷰입니다.</p>
                    </div>
                    <div class="r_title">
                        <p class="r1">작성자</p>
                        <p class="r2" th:text="${UserReList.user_id}">마마마</p>
                        <p class="r1">등록일</p>
                        <p class="r3" th:text="${UserReList.re_date}">날짜</p>
                        <p class="r1">조회수</p>
                        <p class="r4" th:text="${UserReList.re_cnt}">마마마</p>
                    </div>
                    <div class="r_cont" th:utext="${UserReList.re_content}" >
                    </div>
                    <div class="r_line"></div>
                    <div class="r_b_">
                        <button class="r_b"  onclick="goBack();">목록</button>
                    </div>
                </div>
            </div>

        </div>
    </content>
</main>
<script  th:inline="javascript">
    <!--    // header script-->
        $(document).ready(function () {
    <!--        //**** 마우스오버  ****//-->
            //서브메뉴 숨기고 시작
            $(".subMenu").hide();
    <!--        // 마우스 오버-->
            $(".mainMenu, .subMenu").mouseover(function () {
                $(".subMenu").stop().slideDown(500);
            }).mouseout(function () {
                $(".subMenu").stop().slideUp(500);
            });
        });

    function goBack(){
        window.history.back();
    }

</script>

</body>
</html>
