<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/error403.css">
    <script src="https://kit.fontawesome.com/866e721e3e.js" crossorigin="anonymous"></script>
    <style>
        body{
    width: 1920px;
}

.error_main_content{
    width: 1920px;
    text-align: center;
    margin-top: 100px;
}
    </style>
</head>

<body>
<div class="error_main_content">
    <i class="fa-solid fa-ban fa-2xl"></i>
    <h1>응답오류 !</h1>
</div>
</body>
</html>