* {
    margin: 0 auto;
}

hr {
    border: 1px solid #aaa;
    width: 1550px;
    position: absolute;
    left: 0px;
    top: 65px;
}

p.manage_title {
    font-size: 35px;
    font-weight: bold;
    color: #374658;
}

body {
    width: 950px;
}

.main_title {
    font-size: 30px;
    font-weight: bold;
}

.main_content_11{
    width: 950px;
    position: absolute;
    top: 90px;
    left: 300px;
    /* margin-left: 140px; */
}

.main_content_user{
    margin-top: 20px;
    display: flex;
    width: 900px;
    margin-bottom: 10px;
}

.main_content_user_text{
    margin-top: 20px;
    width: 900px;
    margin-bottom: 10px;
    margin-left: 40px;
    padding: 10px;
}

  .main_container {
         margin: 20px;
     }

     .main_content_user {
         display: grid;
         grid-template-columns: repeat(4, 1fr);
         text-align: center;
         font-weight: bold;
         margin-bottom: 10px;
     }

     table {
         width: 1550px;
         border-collapse: collapse;
         /* margin-bottom: 20px; */
         /* margin: 0 auto; */
         /* margin-top:30px; */
         position: absolute;
         top: 110px;
     }

     td {
         border: 1px solid transparent;
         border-bottom: 1px solid #ccc;
         padding: 12px;
         text-align: center; /* Center-align content */
         font-size: 16px;
     }

     th{

border: 1px solid transparent;

border-bottom: 1px solid black;

padding: 8px;

text-align: center; /* Center-align content */

font-size: 20px;

color: #808080;

}


     button {
         padding: 5px 10px;
        background-color: #F05650;
        border:none;
        color:white;
     }

.manage_table_1{
    width: 10%;
}
.manage_table_2{
    width: 30%;
}
.manage_table_3{
    width: 30%;
}
.manage_table_4{
    width: 30%;
}
