<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="css/users_body.css" rel="stylesheet" />
    <link href="css/users_side.css" rel="stylesheet" />
    <link href="/static/css/user/Mypage/UserInfoChange.css" rel="stylesheet"/>

    <script src="js/jquery-3.7.0.min.js"></script>

    <title>공고 보기</title>
</head>
 <div class="s_header" th:replace="~{user/header/userHeader :: userHeader}"></div>
<body>
<main>
    <content>
        <div class="body">
            <div class="body_title">
                <span>정보</span>
                <span>수정</span>
            </div>

            <div class="body_title_right">
                <img src="images/home.png" alt="홈 아이콘" style="width: 20px;"> > 내정보 > 정보 수정
            </div>



            <!-- 주요내용 -->
            <div class="contents">
                <table>
                    <tr>
                        <td><label for="name">이름 *</label></td>
                        <td><input type="text" id="name" name="name" required></td>
                    </tr>
                    <tr>
                        <td><label for="birth">생년월일 *</label></td>
                        <td>
                            <input type="text" id="birth" name="birth" placeholder="6자리 입력 (ex.001231)" required>
                            <div id="birthError" class="error-message"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="sample6_address">주소 *</label></td>
                        <td>
                            <input type="text" id="sample6_postcode" readonly>
                            <button type="button" class="addr_search" onclick="execution_daum_address()">주소 검색</button>
                            <input type="text" id="sample6_extraAddress" readonly>
                            <hr>
                            <input type="text" id="sample6_address" name="addr" required readonly >
                            <hr>
                            <input type="text" id="addr1" name="addr1" required placeholder="상세주소를 적어주세요">
                        </td>
                    </tr>
                    <tr>
                        <td><label for="phone">전화번호 *</label></td>
                        <td>
                            <input type="text" id="phone" name="phone" placeholder="-없이 숫자만 11자리 입력" required>
                            <div id="phoneError" class="error-message"></div>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="email">이메일 *</label></td>
                        <td>
                            <input type="email" id="email" name="email" required>
                            <div id="emailError" class="error-message"></div>
                        </td>
                    </tr>
                </table>
                <button type="submit" class="joinbtn">수정하기</button>
            </div>
            <!--  -->



        </div>
    </content>

    <div class="sidefooter" th:replace="~{user/side/MyPageSide :: MyPageSide}"></div>

     <div class="s_header" th:replace="~{user/footer/userFooter :: userFooter}"></div>
</main>
<script>
    // header script
    $(document).ready(function () {
        //**** 마우스오버  ****//
        //서브메뉴 숨기고 시작
        $(".subMenu").hide();
        // 마우스 오버
        $(".mainMenu, .subMenu").mouseover(function () {
            $(".subMenu").stop().slideDown(500);
        }).mouseout(function () {
            $(".subMenu").stop().slideUp(500);
        });
    });
</script>
</body>

</html>