<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/user/Mypage/UserInfo.css" rel="stylesheet" />
    <script src="js/jquery-3.7.0.min.js"></script>

    <title>내 정보</title>
</head>
 <div class="s_header" th:replace="~{user/header/userHeader :: userHeader}"></div>
<body>
<main>
    <content>
        <div class="body">
            <div class="body_title">
                <span>나의</span>
                <span>정보</span>
            </div>
            <div class="body_title_right">
                <img src="/static/images/home.png" alt="홈 아이콘" style="width: 20px;"> > 내정보
            </div>
            <!-- 주요내용 -->
            <div class="contents">
                <script th:inline="javascript">
                    /*<![CDATA[*/
                    var applyEmploy = [[${applyEmploy}]];
                    /*]]>*/
                </script>
<!--                <form class="fo_css" method="get" th:action="@{/users/myPage/resign/{usercode}(usercode=${users.user_code})}">-->
                <div class="UserInfo_content">
                    <div  class="div1">
                        <div class="UserInfo_content_text">
                            <p class="ti">이름</p><p th:text="${users.user_name}"></p>
                        </div>
                        <div class="UserInfo_content_text">
                            <p class="ti">연락처</p><p th:text="${users.user_phone}"></p>
                        </div>
                        <div class="UserInfo_content_text">
                            <p class="ti">이메일</p><p th:text="${users.user_email}"></p>
                        </div>
                    </div>
                    <div class="div2">
                        <div class="UserInfo_content_text">
                            <p class="ti">주소</p><p th:text="${users.user_addr}"></p>
                        </div>
                        <div class="UserInfo_content_text">
                            <p class="ti">생년월일</p><p th:text="${users.user_birth}"></p>
                        </div>
                        <div class="UserInfo_content_text">
                            <p class="ti">구분</p><p>개인</p>
                        </div>
                    </div>
                </div>
                <button id="repop" class="sec_btn">탈퇴하기</button>
<!--                </form>-->
            </div>
        </div>
    </content>
    <div class="side" th:replace="~{user/side/mypage/MyPageSide :: MyPageSide}"></div>
</main>

<script th:if="${param.success}" type="text/javascript">
    alert('정보변경 완료.');
</script>

<script th:if="${param.successPw}" type="text/javascript">
    alert('비밀번호 변경 완료.');
</script>

<script th:inline="javascript">
    <!--        Thymeleaf 변수를 JavaScript 변수로 초기화-->
                var userCode = [[${users.user_code}]];

                document.getElementById('repop').addEventListener('click', function() {
                    if (userCode) {

                        var popupUrl = "/users/myPage/rePoP/" + userCode;
                        window.open(popupUrl, "a", "width=550, height=300, left=650, top=330");
                    } else {

                        alert("찾을 수 없는 페이지입니다.");
                    }
                });
</script>
<div class="s_header" th:replace="~{user/footer/userFooter :: userFooter}"></div>
<style>
    footer {
      width: 100%;
      height: 100px;
      position: absolute;
      top:820px;
      background-color: #374658;
    }
</style>
</body>
</html>