<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/static/css/user/Mypage/userEmployAccept.css" rel="stylesheet" />

    <script src="/static/js/user/jquery-3.7.0.min.js"></script>

    <title>채용 신청 내역</title>
    <style>
        /* 추가된 CSS 스타일 */

        .pagination {
            display: flex;
            list-style: none;
            padding: 0;
           margin-top: 420px;
            margin-left: 820px;
        }
        .pagination li {
            margin: 0 3px;
            display:inline;
        }
        .page-item{
        border-radius: 4px;
        }
        .pagination a {
            text-decoration: none;
            background-color: #fff;
            border: 1px solid #ccc;
            padding: 8px 12px;
            border-radius: 4px;
             color: #787878;
             font-size:14px;
             font-weight: 700;
             width:34px;
        }

        .pagination a:hover {
            background-color: #ccc;
            color: #787878;
        }

        .pagination .active a {
            background-color: #ccc;
            color: #787878;
        }

    </style>
</head>

 <div class="s_header" th:replace="~{user/header/userHeader :: userHeader}"></div>

<body>
<main>
    <content>
        <div class="body">
            <div class="body_title">
                <span>채용</span>
                <span>신청 내역</span>
            </div>

            <div class="body_title_right">
                <img src="/static/images/home.png" alt="홈 아이콘" style="width: 20px;"> > 내 정보 > 공고 신청내역
            </div>

            <!-- 주요내용 -->
            <div class="contents">
                <div class="select-box">
                    <form method="get" action="/users/mypage/employ/apply">
                        <div class="search-box">
                            <p class="size">행사 / 공연명</p>
                            <input type="text" name="serch" id="" />
                            <button type="submit" class="S_btn">검색</button>
                        </div>
                        <div class="Period-box">
                            <p>기간 선택</p>
                            <div class="btns">
                                <button type="button">1개월</button>
                                <button type="button">3개월</button>
                                <button type="button">6개월</button>
                            </div>
                            <div class="date-box">
                                <span><input type="date" class="d1" name="date_start" id="" /></span>
                                <span><input type="date" class="d2" name="date_end" id="" /></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="content" th:each="list : ${apply}">
                <div class="expo-info-box" >
                    <div class="expo-info">
                        <p class="expo-name" th:text="${list.emnot_title}" th:onclick="'javascript:location.href=&quot;/users/show/employlist/' +
                        ${list.emnot_code} + '/' + ${list.com_code} + '/' + ${list.user_code} + '&quot;'" style="cursor: pointer;">
                                2024 예일 박람f
                        </p>
                        <div class="period-box2">
                            <p th:text="${list.emnot_start}">2024-01-10</p>
                            <p th:text="${list.emnot_end}">2024-01-10</p>
                            <!--                    <p>20:00</p>-->
                        </div>
                    </div>
                    <div>
                    <div th:if="${list.pem_can == 0}" class="line2">
                        <span class="user_line_text">신청취소된 채용입니다.</span>
                    </div>
                    </div>
                    <div class="apply_button">
                        <form
                                th:if="${list.pem_can == 0}">
                            <button type="button" class="accept_btn" th:onclick="'javascript:openPopup(\'/users/mypage/apply/re/' + ${list.emnot_code} + '/' + ${list.user_code} + '\')'">
                                재신청하기
                            </button>
                        </form>
                        <form th:action="@{/users/updatePemCan/{pem_appnum}/{user_code}/{value}
                                        (pem_appnum=${list.pem_appnum},user_code=${list.user_code}, value=0)}"
                                th:if="${list.pem_can == 1}" method="post">
                            <button type="submit" class="accept_btn">취소하기</button>
                        </form>
                    </div>
                </div>
                <div class="line"></div>
            </div>


        </div>
        <nav aria-label="Page navigation example" class="pageBtn">
            <ul class="pagination">
            </ul>
        </nav>

        <span style="display:none;" class="total_page" th:text="${TotalPage}"></span>
    </content>

     <div class="sidefooter" th:replace="~{user/side/mypage/MyPageSide3 :: MyPageSide}"></div>

</main>
<script>

        function openPopup(url) {
        var width = 550;
        var height = 300;

        var left = (screen.width - width) / 2;
        var top = (screen.height - height) / 2;

        var popup = window.open(url, 'popup', 'width=' + width + ',height=' + height + ',top=' + top + ',left=' + left);
        popup.focus();
    }

    let total_page = document.querySelector('.total_page').textContent;
console.log(total_page);


    // 기간 선택 버튼에 이벤트 리스너 추가
    document.querySelectorAll('.btns button').forEach(function(button) {
    button.addEventListener('click', function() {
        // 현재 날짜 구하기
        var today = new Date();

        // 오늘 날짜를 "YYYY-MM-DD" 형식으로 포맷
        var formattedToday = today.toISOString().split('T')[0];

        // 버튼에 따라 기간 설정
        var monthsToAdd = parseInt(this.textContent); // 클릭된 버튼의 텍스트를 숫자로 변환

        // 선택된 기간 후의 날짜 계산
        today.setMonth(today.getMonth() - monthsToAdd);

        // 선택된 기간 후의 날짜를 "YYYY-MM-DD" 형식으로 포맷
        var formattedNextDate = today.toISOString().split('T')[0];

        // "date_start"와 "date_end" 입력 필드의 값을 설정
        document.querySelector('input[name="date_start"]').value = formattedNextDate;
        document.querySelector('input[name="date_end"]').value = formattedToday;
    });
});

    let S_btn = document.querySelector('.S_btn');

    S_btn.onclick = () => {
        let d1 = document.querySelector('.d1').value;
        let d2 = document.querySelector('.d2').value;

        console.log(d1);
        console.log(d2);

        if(!d1 || !d2){
            alert("기간을 선택해주세요");
            return false;
        }
    }

// 부모 요소
var paginationContainer = document.querySelector(".pagination");

if (paginationContainer && total_page > 0) {
    // Pagination buttons
    // 이전 버튼
    var prevButton = document.createElement("li");
    prevButton.classList.add("page-item");

    let d1 = document.querySelector('.d1');
    console.log(d1)

    const urlParams = new URL(location.href).searchParams;
    const Search = urlParams.get('serch');
    const start = urlParams.get('date_start');
    const end = urlParams.get('date_end');

    if(start != null){
        prevButton.innerHTML = `<a class="page-link"  href="/users/mypage/employ/apply?page=0&serch=${Search}&date_start=${start}&date_end=${end}" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>`;
    } else {
        prevButton.innerHTML = `<a class="page-link"  href="/users/mypage/employ/apply?page=0" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>`;
    }

    paginationContainer.appendChild(prevButton);

    // 페이지 번호 생성
    for (var i = 1; i <= total_page; i++) {
        var pageItem = document.createElement("li");
        pageItem.classList.add("page-item");
        if(start != null){
            pageItem.innerHTML = `<a class="page-link"  href="/users/mypage/employ/apply?page=${i-1}&serch=${Search}&date_start=${start}&date_end=${end}">${i}</a>`;
        } else {
            pageItem.innerHTML = `<a class="page-link" href="/users/mypage/employ/apply?page=${i-1}">${i}</a>`;
        }
        paginationContainer.appendChild(pageItem);
    }

    // 다음 버튼
    var nextButton = document.createElement("li");
    nextButton.classList.add("page-item");
    if(start != null){
        nextButton.innerHTML = `<a class="page-link"  href="/users/mypage/employ/apply?page=${total_page-1}&serch=${Search}&date_start=${start}&date_end=${end}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>`;
    } else {
        nextButton.innerHTML = `<a class="page-link" href="/users/mypage/employ/apply?page=${total_page-1}" aria-label="Next"><span aria-hidden="true">&raquo;</span></a>`;
    }

    paginationContainer.appendChild(nextButton);
}
</script>
<div class="s_header" th:replace="~{user/footer/userFooter :: userFooter}"></div>
<style>
    footer {
      width: 100%;
      height: 100px;
      position: absolute;
      top: 1045px;
      background-color: #374658;
    }
</style>
</body>

</html>