<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/user/Side/users_body.css" rel="stylesheet" />
    <link href="/static/css/user/Mypage/UserPwChangePage.css" rel="stylesheet" />
    <script src="js/jquery-3.7.0.min.js"></script>

    <title>비밀번호 변경</title>
</head>
<div class="s_header" th:replace="~{user/header/userHeader :: userHeader}"></div>
<body>
<main>
    <content>
        <div class="body">
            <div class="body_title">
                <span>비밀번호</span>
                <span>변경</span>
            </div>

            <div class="body_title_right">
                <img src="/static/images/home.png" alt="홈 아이콘" style="width: 20px;"> > 내 정보 > 비밀번호 변경
            </div>

            <!-- 주요내용 -->
            <div class="contents">
                <form method="post" action="/com/myPage/ComChangingPw">
                    <div class="allform">
                        <div class="searchinput">
                            <div class="searchform">
                                <div class="idform">
                                    <span>현재 비밀번호</span>
                                    <input type="password" class="idbox" name="id">
                                </div>
                                <div class="pwform">
                                    <span>새 비밀번호</span>
                                    <input type="password" class="pwbox" name="password">
                                </div>
                                <div class="pwform">
                                    <span>비밀번호 확인</span>
                                    <input type="password" class="pwbox">
                                </div>
                            </div>
                        </div>
                        <div class="searchbtn">
                            <button type="submit" class="searbtn">변경하기</button>
                        </div>
                    </div>
                </form>
            </div>
            <!--  -->
        </div>
    </content>
    <div class="side" th:replace="~{user/side/mypage/MyPageSide6 :: MyPageSide6}"></div>
</main>
<script th:if="${param.error}" type="text/javascript">
    alert('비밀번호를 다시 확인하세요.');
</script>
<div class="s_header" th:replace="~{user/footer/userFooter :: userFooter}"></div>
<style>
    footer {
      width: 100%;
      height: 100px;
      position: absolute;
      top:820px;
      background-color: #374658;
    }
</style>
</body>
</html>