<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/admin/AdminUser/adminbody.css" />
    <title>admin</title>
    <style>
        /* 추가된 CSS 스타일 */

       .pagination {
        display: flex;
        list-style: none;
        padding: 0;
        margin-top: 20px;
        /* margin-left: 400px; */
        justify-content: center;
        color: black;

    }


        .pagination li {
            margin: 0 5px;
            display: inline;
        }

       .pagination a {
        text-decoration: none;
        color: black;
        background-color: #fff;
        border: 1px solid #ddd;
        /* padding: 8px 12px; */
        border-radius: 4px;
        border: none;
    }

        .pagination .active a {
            background-color: #007bff;
            color: #fff;
        }
    </style>
</head>

<body style="width:1550px;">

<div class="s_header" th:replace="~{admin/header/ScheduleHeader5 :: ScheduleHeader5}"></div>

<!-- body -->
<div class="container" style="width:950px;">
    <div class="main_title">
        <p>타이틀</p>
    </div>
</div>
<div class="main_content_11">
    <h1>개인회원 관리</h1>
    <hr>
<!--    <div class="main_content_user">-->
<!--        <div>번호</div>-->
<!--        <div>아이디</div>-->
<!--        <div>이름</div>-->
<!--        <div>탈퇴</div>-->
<!--    </div>-->
<!--    <hr>-->
    <table>
        <thead>
        <tr>
            <th>번호</th>
            <th>아이디</th>
            <th>이름</th>
            <th>탈퇴</th>
        </tr>
        </thead>
        <tbody class="main_content_user_text">
        <tr th:each="usersM : ${usersM}">
            <form method="get" th:action="@{/admin/UserResign/{usercode}(usercode=${usersM.user_code})}">
            <td th:text="${usersM.user_code}"></td>
            <td th:text="${usersM.user_id}"></td>
            <td th:text="${usersM.user_name}"></td>
            <td><button type="submit">탈퇴하기</button></td>
            </form>
        </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example" class="pageBtn">
        <ul class="pagination">
        </ul>
    </nav>
    <span style="display:none;" class="total_page" th:text="${TotalPage}"></span>
</div>
<!-- body -->
 <div class="sidebar" th:replace="~{admin/side/UserManageSide :: UserManageSide}"></div>

<script th:if="${param.success}" type="text/javascript">
    alert('탈퇴 완료.');
</script>

<script>

    function deleteReview(target) {
    let reNum = target.parentElement.querySelector('.reNum');
    let reNumtext = reNum.textContent;

    if (confirm("삭제하시겠습니까?")) {
        // 사용자가 확인하면 서버로 DELETE 요청 보내기
        fetch(`/admin/review/de/${reNumtext}`, {
            method: 'DELETE',
            headers: {
                'Content-Type': 'application/json',
            },
        })
        .then(response => {
            window.location.reload();
            if (!response.ok) {
                throw new Error('삭제 실패');
            }
            return response.json();
        })
        .then(data => {

        })
        .catch(error => {
            console.error('삭제 에러:', error);
        });
    }
 }


    <!--    클릭 정보-->
        function setEventType(value) {
        document.getElementById("eventType").value = value;
 <!--        console.log(value);-->
        document.querySelector("form").submit();
    }

        let total_page = document.querySelector('.total_page').textContent;
 <!--            console.log(total_page);-->



            // 부모 요소
        var paginationContainer = document.querySelector(".pagination");



        if (paginationContainer) {
            // 이전 버튼
            var prevButton = document.createElement("li");
            prevButton.classList.add("page-item");

            const urlParams = new URL(location.href).searchParams;
            const evType = urlParams.get('eventType');
            console.log(evType);

            if(evType == 0){
                prevButton.innerHTML = `<a class="page-link"  href="/admin/UserManage?eventType=0&page=0" aria-label="Previous"><span aria-hidden="true"><</span></a>`;
            }else if(evType == 1){
                prevButton.innerHTML = `<a class="page-link"  href="/admin/UserManage?eventType=1&page=0" aria-label="Previous"><span aria-hidden="true"><</span></a>`;
            }else if(evType == 2){
                prevButton.innerHTML = `<a class="page-link"  href="/admin/UserManage?eventType=2&page=0" aria-label="Previous"><span aria-hidden="true"><</span></a>`;
            }else{
                prevButton.innerHTML = `<a class="page-link"  href="/admin/UserManage?page=0" aria-label="Previous"><span aria-hidden="true"><</span></a>`;
            }


            paginationContainer.appendChild(prevButton);

            // 페이지 번호 생성
            for (var i = 1; i <= total_page; i++) {
                var pageItem = document.createElement("li");
                pageItem.classList.add("page-item");

                if(evType == 0){
                    pageItem.innerHTML = `<a class="page-link" href="/admin/UserManage?eventType=0&page=${i-1}">${i}</a>`;
                }else if(evType == 1){
                    pageItem.innerHTML = `<a class="page-link" href="/admin/UserManage?eventType=1&page=${i-1}">${i}</a>`;
                }else if(evType == 2){
                    pageItem.innerHTML = `<a class="page-link" href="/admin/UserManage?eventType=2&page=${i-1}">${i}</a>`;
                }else{
                    pageItem.innerHTML = `<a class="page-link" href="/admin/UserManage?page=${i-1}">${i}</a>`;
                }

                paginationContainer.appendChild(pageItem);
            }

            // 다음 버튼
            var nextButton = document.createElement("li");
            nextButton.classList.add("page-item");

            if(evType == 0){
                nextButton.innerHTML = `<a class="page-link" href="/admin/UserManage?eventType=0&page=${total_page-1}" aria-label="Next"><span aria-hidden="true">></span></a>`;
            }else if(evType == 1){
                nextButton.innerHTML = `<a class="page-link" href="/admin/UserManage?eventType=1&page=${total_page-1}" aria-label="Next"><span aria-hidden="true">></span></a>`;
            }else if(evType == 2){
                nextButton.innerHTML = `<a class="page-link" href="/admin/UserManage?eventType=2&page=${total_page-1}" aria-label="Next"><span aria-hidden="true">></span></a>`;
            }else{
                nextButton.innerHTML = `<a class="page-link" href="/admin/UserManage?page=${total_page-1}" aria-label="Next"><span aria-hidden="true">></span></a>`;
            }

            paginationContainer.appendChild(nextButton);
        }
</script>

</body>

</html>