<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="/static/css/user/qna/QnaNew.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="/static/smarteditor/js/HuskyEZCreator.js" charset="utf-8"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <title>질문 등록 페이지</title>
</head>
<div class="s_header" th:replace="~{comuser/header/comHeader :: comHeader}"></div>
<body>
<div class="wrap">
    <div class="body_title">
        <span style="color:#787878;">Q&</span>
        <span>A</span>
    </div>
    <form  enctype="multipart/form-data" >
        <table>
            <tr class="qu_title">
                <td>
                    <span> 제목 : </span>
                    <input type="text" name="quTitle" maxlength="50" required/>
                </td>
            </tr>
            <tr class="scr">
                <td>
                    <input type="checkbox" value="1" name="quScr"><span>비밀글</span>
                </td>
            </tr>
            <tr class="qu_content">
                <td colspan="4">
                    <textarea required name="quContent" id="ir1" style="width: 100%; height:350px; border:2px solid #ccc;"></textarea>
                </td>
            </tr>
        </table>
        <div class="sub-btn"><button class="in_btn" type="button">작성하기</button></div>
    </form>
    <!-- 목록으로돌아가기 -->
</div>
<script>
    //스마트에디터 사용
  let oEditors = [];
  nhn.husky.EZCreator.createInIFrame({
  oAppRef: oEditors,
  elPlaceHolder: "ir1",
  sSkinURI: "/static/smarteditor/SmartEditor2Skin.html",
  fCreator: "createSEditor2"
  });

  let subBtn = document.querySelector('.in_btn');

  subBtn.onclick = () => {
      oEditors.getById["ir1"].exec("UPDATE_CONTENTS_FIELD", []);
      const textarearvalue = document.querySelector("#ir1").value;
<!--        alert(textarearvalue);-->

      let formData = new FormData(document.querySelector("form"));

      formData.forEach((v,k) => {
          console.log("key: " + k);
          console.log("value: " + v);
      })

          $.ajax({
              async: false,
              type: "post",
              url: "/com/save/qu",
              enctype: "multipart/form-data",
              contentType: false,
              processData: false,
              data: formData,
              success: (response) => {
                   alert('질문이 등록되었습니다.');
                   window.location.replace("/com/show/qu");
              },
              error: (error) => {
                 alert('실패');
               console.log(error);
           }
          });
      }
       // 폼을 검증하기 위한 함수
   function validateForm() {
       const requiredFields = document.querySelectorAll("input[required]");
       let isValid = true;

       requiredFields.forEach((field) => {
           if (!field.value.trim()) {
               isValid = false;
           }
       });

           // 입력 필드를 검증합니다.
       if (!isValid) {
           alert("필수 입력란을 모두 채워주세요.");
       }

       return isValid;
   }

</script>
<div class="s_header" th:replace="~{comuser/side/qnaSide_2 :: qnaSide_2}"></div>
<div class="s_header" th:replace="~{user/footer/userFooter :: userFooter}"></div>
<style>
    footer {
      width: 100%;
      height: 100px;
      position: absolute;
      top:930px;
      background-color: #374658;
    }
</style>
</body>
</html>
