*{
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    width: 1100px;
    z-index: 3;
}

.con {
    display: flex;
    position:fixed;
    left:66px;
    top: 0px;
        z-index: 3;

}

.header-title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #374658;
    color: white;
    font-size: 20px;
}

.header-title a{
    text-decoration: none;
    color: white;
}

.header-title p {
    width: 190px;
    text-align: center;
    padding-top: 15px;
}

.logo {
    width: 200px;
    height:60px;
    margin: 0;
    /* background-color: #374658; */
}


.logo-img {
   width: 250px;
   height: 65px;
   position: fixed;
   left: 0;
}


.back-color {
    background-color: #ea8874;
    /* width: 100px; */
    height: 50px;
}
