.detail_wrap {position:absolute;top:-40px;left: 300px;}
    .nt_title {
    position: absolute;
    top: 130px;
    left:0;
    width: 700px;
    text-align: left;
    color: #787878;
    font-weight: 700;
    font-size: 20pt;
 }

.list > a{
 position: absolute;
 left: 54px;
 top: 7px;
}

 .view_info {
    position: absolute;
    top: 185px;
    width: 1600px;
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
 }
 .view_info > div {
    display: inline-block;
 }
 .writer,  .date, .see {
    width: 100px;
    height: 30px;
    background: #eee;
    color: #787878;
    text-align: center;
    font-weight: 700;
    font-size: 12pt;
    line-height: 30px;
 }
 .date{
    position: absolute;
    left: 300px;
 }
 .see{
    position: absolute;
    right: 100px;
 }
 .nt_dt {
 margin-left:255px;
 }
 .nt_cnt {
  margin-left: 1050px;
 }
 .download {
    width: 700px;
    height: 30px;
    position: absolute;
    top: 240px;
    text-align: right;
    left: 900px;
    color: #787878;
    font-size: 14pt;
    font-weight: 700;
 }

 .content {
    width: 1600px;
    height:500px;
    border: 2px solid #ccc;
    position: absolute;
    top: 270px;
    left: 0px;
 }
 .list, .edit, .delete {
    border: 2px solid #ccc;
    width: 140px;
    height: 40px;
    color: #fff;
    background-color: #374658;
    position: absolute;
    top: 800px;
    left: 560px;
    bottom: 120px;
    font-size: 15px;
    cursor: pointer;
  }
  .edit {
  left: 720px;
  }
  .delete {
  left: 880px;
  }
