<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/join/ChangePw.css">
    <title>Document</title>
</head>

<body>
<h1>Jump</h1>
<main>
    <form method="post" action="/JumpExpo/ChangePw">
        <div th:if="${findpw != null}">
            <input th:value="${findpw}" name="id" style="display:none;">
        </div>
        <div th:if="${findCompw != null}">
            <input th:value="${findCompw}" name="id"style="display:none;">
        </div>
        <div class="info_text">
            재설정할 새 비밀번호를<br>
            입력하세요
        </div>
        <div class="login_input_form">
            <div class="email_text">
                새 비밀번호
            </div>
            <input type="password" class="login_idtext_input" id="password" name="password" placeholder="비밀번호">
        </div>
        <div id="passwordError" class="error-message"></div>
        <div class="login_input_form">
            <div class="email_text">
                비밀번호 확인
            </div>
            <input type="password" class="login_passtext_input" placeholder="비밀번호 확인">
        </div>
        <div class="login_btn_form">
            <button type="submit">변경</button>
        </div>
    </form>
</main>

<script>
    // 포커스 아웃 이벤트 처리 (비밀번호)
    document.getElementById('password').addEventListener('blur', function () {
    validatePassword();
    });


    var searchbtn = document.getElementById('searbtn');

    // 비밀번호 유효성 검사 함수
    function validatePassword() {
    var passwordInput = document.getElementById('password');
    var passwordError = document.getElementById('passwordError');

    var passwordRegex = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,16}$/;

    if (!passwordRegex.test(passwordInput.value)) {
    // 비밀번호가 유효하지 않은 경우
    passwordError.textContent = "특수문자를 포함한 8~16자리로 입력하세요.";
    searchbtn.setAttribute('disabled', 'disabled');
    } else {
    // 비밀번호가 유효한 경우
    passwordError.textContent = ""; // 에러 메시지 초기화
    searchbtn.removeAttribute('disabled');
    }
    }
</script>

</body>

</html>