<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/join/ComJoin.css">
    <title>Document</title>
    <style>
        body{
    height: 1500px;
}

main {
    width: 800px;
    height: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

table {
    width: 800px;
    margin: auto;
    margin-top: 30px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

input[type="text"],
input[type="password"],
input[type="email"]
 {
    width: 350px;
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    resize: none;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.addr_search{
    margin-left: 5px;
    width: 100px;
    height: 40px;
}

.gender{
    width: 15px;
    height: 15px;
    margin-left: 10px;
}

h1{
    text-align: center;
}

.logo{

        width: 300px;
        height: 80px;

    }

.joinbtn{
    width: 250px;
    height: 50px;
    margin-left: 220px;
    margin-top: 50px;
    background-color: #374658;
    color: white;
}

.Cominfo{
    width: 520px;
    height: 200px;
    resize: none;
    border: none;
}

.idcheck{
    width: 90px;
    height: 40px;

}

.error-message{
    color: red;
}
    </style>
</head>

<body>
<main>
    <div class="logo"><img class="logo" src="/static/images/KakaoTalk_20240106_135536169.png"></div>
    <h1>기업 회원 가입</h1>
    <form method="post" action="/JumpExpo/ComJoin">
    <table>
        <tr>
            <td><label for="id">아이디 *</label></td>
            <td>
                <input type="text" id="id" name="id" placeholder="최대 20글자" required>
                <button type="submit" class="idcheck" onclick="checkDuplicate()">중복체크</button>
                <div id="idError" class="error-message"></div>
            </td>
        </tr>
        <tr>
            <td><label for="password">비밀번호 *</label></td>
            <td>
                <input type="password" id="password" name="password" placeholder="특수기호 포함 8~16자리" required>
                <div id="passwordError" class="error-message"></div>
            </td>
        </tr>
        <tr>
            <td><label for="passwordch">비밀번호 확인 *</label></td>
            <td>
                <input type="password" id="passwordch" name="passwordch" placeholder="한번 더 입력해 주세요" required>
                <div id="passwordchError" class="error-message"></div>
            </td>

        </tr>
        <tr>
            <td><label for="BRnumber">사업자번호 *</label></td>
            <td><input type="text" id="BRnumber" name="BRnumber" placeholder="숫자만 입력" required></td>
        </tr>
        <tr>
            <td><label for="Comname">회사명 *</label></td>
            <td><input type="text" id="Comname" name="Comname" required></td>
        </tr>
        <tr>
            <td><label for="sample6_address">회사 주소 *</label></td>
            <td>
                <input type="text" id="sample6_postcode" readonly>
                <button type="button" class="addr_search" onclick="execution_daum_address()">주소 검색</button>
                <input type="text" id="sample6_extraAddress" readonly>
                <hr>
                <input type="text" id="sample6_address" name="addr" required readonly>
                <hr>
                <input type="text" id="addr1" name="addr1" placeholder="상세주소를 입력 해주세요">
            </td>
        </tr>
        <tr>
            <td><label for="homepage">홈페이지 링크 </label></td>
            <td><input type="text" id="homepage" name="homepage"></td>
        </tr>
        <tr>
            <td><label for="name">담당자 *</label></td>
            <td><input type="text" id="name" name="name" required></td>
        </tr>
        <tr>
            <td><label for="phone">담당자 번호 *</label></td>
            <td>
                <input type="text" id="phone" name="phone" placeholder="-없이 숫자만 11자리 입력" required>
                <div id="phoneError" class="error-message"></div>
            </td>
        </tr>
        <tr>
            <td><label for="email">이메일 *</label></td>
            <td>
                <input type="email" id="email" name="email" required>
                <div id="emailError" class="error-message"></div>
            </td>
        </tr>
        <tr>
            <td><label>회사소개 *</label></td>
            <td><textarea class="Cominfo" name="Cominfo"></textarea></td>
        </tr>
        <tr>
            <td><label>회사 로고 </label></td>
            <td>
                <input type="file" name="Comlogo">
            </td>
        </tr>

    </table>
    <button type="submit" class="joinbtn">가입하기</button>
    </form>
</main>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>

    var joinbtn = document.querySelector('.joinbtn');

    //아이디 중복체크시 정규식 체크 and Ajax 처리
    function checkDuplicate() {
        var idInput = document.getElementById('id');
        var idError = document.getElementById('idError');

        if (!idInput.checkValidity()) {
            // 정규식 검증 실패 시
            idError.textContent = "아이디는 영문자로 시작하고, 영문자 및 숫자로 4~20자리여야 합니다.";
            joinbtn.setAttribute('disabled', 'disabled');
        } else {
            // 정규식 검증 통과 시
            idError.textContent = ""; // 에러 메시지 초기화
            joinbtn.removeAttribute('disabled');
            //여기에 중복체크 ajax 들어갈 예정

              // 아이디 중복체크
        function check() {
            // 사용자가 입력한 아이디
            var id = idInput.value;

            fetch('/JumpExpo/ComDupCheck?id=' + encodeURIComponent(id), {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json'
                },
            })
                .then(response => response.json())
                .then(data => {
                    if (data.isDuplicate) {
                        idError.textContent = "이미 존재하는 아이디 입니다.";
                        joinbtn.setAttribute('disabled', 'disabled');
                    } else {
                        idError.textContent = "사용 가능한 아이디 입니다.";
                        joinbtn.removeAttribute('disabled');
                    }
                })
                .catch(error => {
                    idError.textContent = "오류가 발생했습니다";
                });
        }

        // check 함수 호출
        check();

        }
    }

    // 포커스 아웃 이벤트 처리 (비밀번호)
    document.getElementById('password').addEventListener('blur', function () {
        validatePassword();
    });

    // 비밀번호 유효성 검사 함수
    function validatePassword() {
        var passwordInput = document.getElementById('password');
        var passwordError = document.getElementById('passwordError');

        var passwordRegex = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[@$!%*#?&])[A-Za-z\d@$!%*#?&]{8,16}$/;

        if (!passwordRegex.test(passwordInput.value)) {
            // 비밀번호가 유효하지 않은 경우
            passwordError.textContent = "특수문자를 포함한 8~16자리로 입력하세요.";
            joinbtn.setAttribute('disabled', 'disabled');
        } else {
            // 비밀번호가 유효한 경우
            passwordError.textContent = ""; // 에러 메시지 초기화
            joinbtn.removeAttribute('disabled');
        }
    }

    // 포커스 아웃 이벤트 처리 (비밀번호 확인)
    document.getElementById('passwordch').addEventListener('blur', function () {
        validatePasswordch();
    });

    function validatePasswordch() {

        var passwordInput = document.getElementById('password');
        var passwordInputch = document.getElementById('passwordch');
        var passwordchError = document.getElementById('passwordchError');

        if (passwordInput.value != passwordInputch.value) {
            //비밀번호가 다를경우
            passwordchError.textContent = "비밀번호가 다릅니다.";
            joinbtn.setAttribute('disabled', 'disabled');
        }
        else {
            passwordchError.textContent = "";  //에러 메세지 초기화
            joinbtn.removeAttribute('disabled');
        }
    }


       // 포커스 아웃 이벤트 처리 (전화 번호)
       document.getElementById('phone').addEventListener('blur', function () {
        validatephone();
    })

    function validatephone(){
        var phone = document.getElementById('phone');
        var phoneError = document.getElementById('phoneError');
        var phoneRegex = /^\d{11}$/;

        if(!phoneRegex.test(phone.value)){
            phoneError.textContent = "-없이 11자리만 입력해 주세요";
            joinbtn.setAttribute('disabled', 'disabled');
        }
        else{
            phoneError.textContent = ""; //에러 메세지 초기화
            joinbtn.removeAttribute('disabled');
        }

    }

         // 포커스 아웃 이벤트 처리 (이메일)
         document.getElementById('email').addEventListener('blur', function () {
        validateemail();
    })

    function validateemail(){
        var email = document.getElementById('email');
        var emailError = document.getElementById('emailError');
        var emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

        if(!emailRegex.test(email.value)){
            emailError.textContent = "이메일 형식을 맞춰서 적어주세요";
            joinbtn.setAttribute('disabled', 'disabled');
        }
        else{
            emailError.textContent = ""; //에러 메세지 초기화
            joinbtn.removeAttribute('disabled');
        }

    }

     //주소 api 사용

    function execution_daum_address(){

     new daum.Postcode({
        oncomplete: function(data) {
                     // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("sample6_extraAddress").value = extraAddr;

                } else {
                    document.getElementById("sample6_extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('sample6_postcode').value = data.zonecode;
                document.getElementById("sample6_address").value = addr;



        }
    }).open();

}






</script>
</body>

</html>