<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/join/JoinSelect.css">
    <title>Document</title>
</head>
<body>
<a href="/JumpExpo/PerJoinPage">
<section>
    <div class="person_png">
        <img src="/static/images/person.png" class="person">
        <div class="person_text">
            일반회원
        </div>
        <div class="person_text2">
            만 14세이상 개인
        </div>
    </div>
</section>
</a>
<a href="/JumpExpo/ComJoinPage">
<main>
    <div class="person_png">
        <img src="/static/images/company.png" class="company">
        <div class="person_text">
            기업회원
        </div>
        <div class="person_text2">
            사업자 및 기타단체
        </div>
    </div>
</main>
</a>
</body>

</html>