<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/join/JoinSelect.css">
    <script src="https://kit.fontawesome.com/866e721e3e.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
<main>
    <div class="logo"><img class="logo" src="/static/images/KakaoTalk_20240106_135536169.png"></div>
    <div class="login_select_form">
    <div class="per_join_form">
       <a href="/JumpExpo/PerJoinPage"><button class="per_join_btn"><i class="fa-solid fa-user fa-xl"></i>개인</button></a>
    </div>
    <div class="com_join_form">
       <a href="/JumpExpo/ComJoinPage"><button class="com_join_btn"><i class="fa-solid fa-building fa-xl"></i>기업</button></a>
    </div>
    </div>
    <div class="infotext">해당하는 버튼을 눌러주세요</div>
</main>
</body>
</html>