<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/join/Login.css">
    <title>Document</title>
</head>

<body>
<h1>Jump</h1>
<main>
    <form action="/JumpExpo/AppLogin" method="post">
        <div class="login_input_form">
            <input type="text" class="login_idtext_input" name="user_id" placeholder="아이디 입력">
        </div>
        <div class="login_input_form">
            <input type="password" class="login_passtext_input" name="password" placeholder="패스워드 입력">
        </div>
        <div class="login_btn_form">
            <button type="submit">로그인</button>
        </div>
    </form>
    <span class="line_or">
            <span class="txt_or">또는</span>
        </span>
    <div class="login_btn_form">
        <a
                href="https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=bcf283702c88974c445ca041bb3d6ad6&redirect_uri=http://localhost:8080/JumpExpo/kakaologin">
<!--            <button class="kakao_btn">카카오 로그인</button>-->
            <div class="kakao_btn">
            <img src="/static/images/kakao_small.png" class="kakao_png_small">
                <div class="kako_btn_text">카카오 로그인</div>
            </div>
        </a>
    </div>
    <div class="login_idsearch_form">
        <div class="join_link_text">
           <a href="/JumpExpo/JoinSelect">회원가입</a>
        </div>
        <div class="idserach">
           <a href="/JumpExpo/IdSearch">계정찾기</a>
        </div>
        <div class="pwsearch">
            <a href="/JumpExpo/PwSearch">비밀번호 찾기</a>
        </div>
    </div>
</main>

<script th:if="${error != null}" type="text/javascript">
    alert('아이디 또는 비밀번호를 확인하세요.');
</script>
</body>

</html>