<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/join/Login.css">
    <title>Document</title>
</head>

<body>
<div><img src="/static/images/KakaoTalk_20240106_135536169.png" class="login_logo"></div>
<main>
    <form action="/JumpExpo/AppLogin" method="post">
    <div class="selectradio">
    </div>
    <hr>
    <div class="logininput">
        <div class="loginform">
            <div  class="idform">
                아이디<br>
                <input type="text" class="idbox" name="user_id"><br>
            </div>
            <div class="pwform">
                비밀번호<br>
                <input type="password" class="pwbox" name="password">
            </div>
        </div>
    </div>
    <div class="loginbtn">
        <button type="submit" class="logbtn">로그인</button>
    </div>
    </form>
    <div class="join_search">
        <a href="/JumpExpo/JoinSelect"><div class="join">회원가입</div></a>
        <a href="/JumpExpo/IdSearch"><div class="search">아이디/비밀번호 찾기</div></a>
    </div>
    <div class="kakaologin">
        <a href="https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=bcf283702c88974c445ca041bb3d6ad6&redirect_uri=http://localhost:8080/JumpExpo/kakaologin">
            <img src="/static/images/kakao_login_medium_wide.png">
        </a>
    </div>

</main>

<script th:if="${error != null}" type="text/javascript">
        alert('아이디 또는 비밀번호를 확인하세요.');
</script>




</body>

</html>