<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/join/SearchId.css">
    <title>Document</title>
</head>
<body>
<div class="logo_form">
    <img src="/static/images/KakaoTalk_20240106_135536169.png" class="login_logo">
</div>
<main>
    <form method="post" action="/JumpExpo/ShowId">
    <div class="searchinput">
        <div class="searchform">
            <div  class="idform">
                이메일<br>
                <input type="email" class="idbox" name="email"><br>
            </div>
            <div class="pwform">
                이름<br>
                <input type="text" class="pwbox" name="name">
            </div>
        </div>
    </div>
    <div class="searchbtn">
        <button type="submit" class="searbtn">찾기</button>
    </div>
    </form>
    <div class="join_search">
       <a href="/JumpExpo/PwSearch"><div class="search">비밀번호 찾기</div></a>
    </div>
</main>

</body>

</html>