<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/join/ShowPw.css">
    <title>Document</title>
</head>
<body>
<div class="title">
    <div class="logo">로고</div>
    <div class="title_text">
        비밀번호 찾기
    </div>
</div>
<main>
    <form method="post" action="/JumpExpo/SearchPw">
    <div class="searchinput">
        <div class="searchform">
            <div  class="idform">
                아이디<br>
                <input type="text" class="idbox" name="id"><br>
            </div>
            <div class="pwform">
                이름<br>
                <input type="text" class="pwbox" name="name">
            </div>
            <div class="pwform">
                이메일<br>
                <input type="email" class="pwbox" name="email">
            </div>
        </div>
    </div>
    <div class="searchbtn">
        <button type="submit" class="searbtn">찾기</button>
    </div>
    </form>
</main>
</body>
</html>