<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/join/ShowId.css">
    <title>Document</title>
</head>

<body>
<h1>Jump</h1>
<main>
    <div class="info_text">
        입력한 정보와 일치하는 아이디 입니다.
    </div>
    <div class="login_input_form">
        <input type="email" class="login_idtext_input" name="email" placeholder="로그인을 오랫동안 하지 않았다면 비밀번호 재설정 후 로그인 하는것이 안전합니다">
    </div>
    <div class="login_input_form">
        <div class="email_text">
            아이디
        </div>
        <div th:if="${comid != null}">
            <input type="text" id="comid" class="login_passtext_input" th:value="${comid}">
        </div>
        <div th:if="${userid != null}">
            <input type="text" id="userid" class="login_passtext_input" th:value="${userid}">
        </div>
    </div>
    <div class="login_btn_form">
        <a href="/JumpExpo/Login"><button>로그인하기</button></a>
    </div>
</main>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var comidElement = document.getElementById("comid");
        var useridElement = document.getElementById("userid");

        if (comidElement) {
            var comidValue = comidElement.value;
            comidElement.value = maskId(comidValue);
        }

        if (useridElement) {
            var useridValue = useridElement.value;
            useridElement.value = maskId(useridValue);
        }

        function maskId(id) {
            var maskedId = id.substring(0, 2) + "*****" + id.substring(id.length - 2);
            return maskedId;
        }
    });
</script>
</body>

</html>
