/*초기 설정*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}
body{
  background: #ffffff;
  color:#787878;
}
a{
  text-decoration:none;
  display:block;
}
/*본문시작*/
main{
    width:100%;
    margin:0 auto;
    position:relative; /* 서브 메뉴 때문에 반드시 필요함   */
  }

  /* 메뉴와 로고가 들어가는 header */
  header{
    width:100%;
    height:100px;
    display:flex;
    justify-content: space-between;
    align-items: center;

  }
  /*헤더 있는 부분 다 적용돼서 첫번째 헤더만 그림자 적용함*/
   header:first-child {
       box-shadow: 2px 2px 6px #f2dcd8;
       position: fixed;
       top: 0;
       left: 0;
       right: 0;
       bottom: 0;
       background:#fff;
       z-index: 3;
   }
  .logo{
    width:20%;
    height:100%;
    display: flex; /*로고 이미지를 중앙에 위치 시키기 위해 flex로 지정하여 수평, 수직 정렬이 되도록 하기 위해.*/
    justify-content: center; /* 수평 가운데 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
  }
  .logo > img {
    width:200px;
    height:70px;
    /* 로고 위치 조정 */
    margin-left: 250px;
  }

  /*메인메뉴*/
  .mainMenu {
    width:70%;
    height:100%;
    display:flex;
    align-items: center;

  }
  .mainMenu > a {
    padding:20px 0;
    font-weight:bold;
    width:170px;
    text-align: center;
    color:#787878;
    font-size:20px;
  }
  .mainMenu > a:hover {
    color: #EA8874;
  }

  /*서브메뉴*/
  .subMenu{
    width:100%;
    display:flex;
    justify-content:flex-end;
    background:#ECECEC;
    position:absolute;
    z-index: 1;
    top: 50px;
  }
  .subMenuWrap{
    width:70%; /*메인메뉴 위치랑 동일하게*/
    height:100%;
    display:flex;
  }
  .subMenuWrap > ul {
    width:170px;
  }
  .subMenuWrap > ul:hover{
    background-color: #f2dcd8;
  }
  .subMenuWrap > ul > li > a {
    text-align: center;
    padding:8px 0;
    color:#787878;
    font-weight: 600;
    font-size: 13px;
    width:170px;
  }

  .header_right a{
    text-decoration: none;
    color: black;
  }
  .subMenuWrap > ul > li > a:hover{
    background: #ebbfb7;
    color:#787878;

  }
  .header_right{
    position: absolute;
    right: 350px;
    width:150px;
  }
  .header_right a {
  display:flex;
  float:left;
  }
    ul{
      padding-left: 0rem;
      margin-bottom: 0rem;
    }