/*ì´ˆê¸° ì„¤ì •*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}
body{
  background: #ffffff;
  color:#787878;
}
a{
  text-decoration:none;
  display:block;
}
/*ë³¸ë¬¸ì‹œìž‘*/
main{
    width:100%;
    margin:0 auto;
    position:relative; /* ì„œë¸Œ ë©”ë‰´ ë•Œë¬¸ì— ë°˜ë“œì‹œ í•„ìš”í•¨   */
  }

  /* ë©”ë‰´ì™€ ë¡œê³ ê°€ ë“¤ì–´ê°€ëŠ” header */
  header{
    width:100%;
    height:100px;
    display:flex;
    justify-content: space-between;
    align-items: center;

  }
  /*í—¤ë” ìžˆëŠ” ë¶€ë¶„ ë‹¤ ì ìš©ë¼ì„œ ì²«ë²ˆì§¸ í—¤ë”ë§Œ ê·¸ë¦¼ìž ì ìš©í•¨*/
   header:first-child {
       box-shadow: 2px 2px 6px #f2dcd8;
       position: fixed;
       top: 0;
       left: 0;
       right: 0;
       bottom: 0;
       background:#fff;
       z-index: 3;
   }
  .logo{
    width:20%;
    height:100%;
    display: flex; /*ë¡œê³  ì´ë¯¸ì§€ë¥¼ ì¤‘ì•™ì— ìœ„ì¹˜ ì‹œí‚¤ê¸° ìœ„í•´ flexë¡œ ì§€ì •í•˜ì—¬ ìˆ˜í‰, ìˆ˜ì§ ì •ë ¬ì´ ë˜ë„ë¡ í•˜ê¸° ìœ„í•´.*/
    justify-content: center; /* ìˆ˜í‰ ê°€ìš´ë° ì •ë ¬ */
    align-items: center; /* ìˆ˜ì§ ê°€ìš´ë° ì •ë ¬ */
  }
  .logo > img {
    width:200px;
    height:70px;
    /* ë¡œê³  ìœ„ì¹˜ ì¡°ì • */
    margin-left: 250px;
  }

  /*ë©”ì¸ë©”ë‰´*/
  .mainMenu {
    width:70%;
    height:100%;
    display:flex;
    align-items: center;

  }
  .mainMenu > a {
    padding:20px 0;
    font-weight:bold;
    width:170px;
    text-align: center;
    color:#787878;
    font-size:20px;
  }
  .mainMenu > a:hover {
    color: #EA8874;
  }

  /*ì„œë¸Œë©”ë‰´*/
  .subMenu{
    width:100%;
    display:flex;
    justify-content:flex-end;
    background:#ECECEC;
    position:absolute;
    z-index: 1;
    top: 50px;
  }
  .subMenuWrap{
    width:70%; /*ë©”ì¸ë©”ë‰´ ìœ„ì¹˜ëž‘ ë™ì¼í•˜ê²Œ*/
    height:100%;
    display:flex;
  }
  .subMenuWrap > ul {
    width:170px;
  }
  .subMenuWrap > ul:hover{
    background-color: #f2dcd8;
  }
  .subMenuWrap > ul > li > a {
    text-align: center;
    padding:8px 0;
    color:#787878;
    font-weight: 600;
    font-size: 13px;
    width:170px;
  }

  .header_right a{
    text-decoration: none;
    color: black;
  }
  .subMenuWrap > ul > li > a:hover{
    background: #ebbfb7;
    color:#787878;

  }
  .header_right{
    position: absolute;
    right: 10px;
    width:150px;
  }
  .header_right a {
  display:flex;
  float:left;
  }
    ul{
      padding-left: 0rem;
      margin-bottom: 0rem;
    }