<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/static/css/user/Mypage/users_body.css" rel="stylesheet" />
    <link href="/static/css/user/Mypage/users_header.css" rel="stylesheet" />
    <link href="/static/css/user/Mypage/users_side.css" rel="stylesheet" />
    <link href="/static/css/user/Mypage/users_footer.css" rel="stylesheet" />
    <script src="/static/js/comuser/jquery-3.7.0.min.js"></script>
    <link rel="stylesheet" href="/static/css/user/Mypage/UserinsertReview.css" />
    <script type="text/javascript" src="/static/smarteditor/js/HuskyEZCreator.js" charset="utf-8"></script>
    <title>유저 리뷰 작성 페이지</title>
</head>
<div class="s_header" th:replace="~{user/header/userHeader :: userHeader}"></div>

<body>
<main>
    <content>
        <div class="body">
            <div class="body_title">
                <span>리뷰</span>
                <span>수정하기</span>
            </div>

            <div class="body_title_right">
                <img src="/static/images/home.png" alt="홈 아이콘" style="width: 20px;"> > 내정보 > 마이 리뷰 > 리뷰 수정
            </div>



            <!-- 주요내용 -->
            <div class="contents">
<!--                 method="post" th:action="@{/users/review/up/{renum}(renum=${reDate.re_num})}"-->
                <form  enctype="multipart/form-data" th:action="@{/users/re/up}" method="post">
                    <div class="container_">
                        <div class="r_title_box">
                            <p th:value="${reDate.expo_title}">예일 박람회</p>
                            <button class="r_btn" type="button">수정완료</button>
                        </div>
                        <div class="r_title">
                            <p class="r1" >제목</p>
                            <input type="text" required name="ReTitle" th:value="${reDate.re_title}" class="r2">
                            <input type="hidden" name="ReNum" th:value="${reDate.re_num}">
                        </div>
                        <div class="r_cont">
                            <textarea th:utext="${reDate.re_content}" required name="ReContent" id="ir1" style="width: 100%; height: 500px;"></textarea>

                        </div>
                    </div>
                </form>
            </div>




        </div>
    </content>

    <div class="side" th:replace="~{user/side/mypage/MyPageSide :: MyPageSide}"></div>
</main>
<script  th:inline="javascript">


    let oEditors = [];
    nhn.husky.EZCreator.createInIFrame({
    oAppRef: oEditors,
    elPlaceHolder: "ir1",
    sSkinURI: "/static/smarteditor/SmartEditor2Skin.html",
    fCreator: "createSEditor2"
    });


    // 스마트 에디터에서의 CORS 문제 해결
    document.domain = "localhost";  // 스마트 에디터를 로드하는 페이지의 도메인을 지정

    let subBtn = document.querySelector('.r_btn');

   subBtn.onclick = () => {
       oEditors.getById["ir1"].exec("UPDATE_CONTENTS_FIELD", []);
       const textarearvalue = document.querySelector("#ir1").value;

       let formData = new FormData(document.querySelector("form"));

       formData.forEach((v,k) => {
           console.log("key: " + k);
           console.log("value: " + v);
       })


        $.ajax({
            async: false,
            type: "post",
            url: "/users/re/up" ,
            enctype: "multipart/form-data",
            contentType: false,
            processData: false,
            data: formData,
            success: (response) => {

            },
            error: (error) => {
                console.log(error);
            }
        })
    }



</script>
<div class="s_header" th:replace="~{user/footer/userFooter :: userFooter}"></div>
<style>
    footer {
      width: 100%;
      height: 100px;
      position: absolute;
      top:1000px;
      background-color: #374658;
    }
</style>
</body>

</html>